//article.tab {
//  display: none;
//}
//
//.to:checked ~ [tabcontent="TO"],
//.wash:checked ~ [tabcontent="wash"],
//#tab3:checked ~ [tabcontent="tab3"],
//#tab4:checked ~ [tabcontent="tab4"],
//#tab4:checked ~ [tabcontent="tab4"],
//#tab4:checked ~ [tabcontent="tab4"]
//
//{
//  display: block;
//}



.price-page article {
  display: none;
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  //padding-bottom: 5px;
  border-bottom: 1px solid #BEBBBB;
  overflow-x: auto;

}

.price-page article:nth-of-type(1) {
  display: block;
}

.price-page article table {

  width: 100%;
  margin: 0 auto;

  tr:first-child {
    &:hover {
      background: none;
    }



    th {
    color: darkgrey;
    border-bottom:2px solid #c0392b ;
    padding: 20px 0;

    font-size: 1rem;

  }


  th:first-child {
    font-size: 1.4rem;
    color: #293a4b;
    width: 60%;

  }
    th.title {
      font-family: 'PT Sans';
      padding-left: 1%;
    }


  th:nth-child(2) {
    font-size: .8rem;
    font-family: 'PT Sans';
    padding-left: 1%;
  }


  }



  tr{
    &:hover {

      //transition: background, .2s ease;
      //background: #c0392b;

    }

  }
  tr:nth-child(2n) {

    background-color: #EDEDED;
  }

  td {

    padding: 10px;



  }
  td:first-child {
    border-right: 1px solid rgb(41, 58, 75);
  }

}
