//article.tab {
//  display: none;
//}
//
//.to:checked ~ [tabcontent="TO"],
//.wash:checked ~ [tabcontent="wash"],
//#tab3:checked ~ [tabcontent="tab3"],
//#tab4:checked ~ [tabcontent="tab4"],
//#tab4:checked ~ [tabcontent="tab4"],
//#tab4:checked ~ [tabcontent="tab4"]
//
//{
//  display: block;
//}

.price-page {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}

.price-page article{
  //overflow: scroll;
  //overflow-y: auto;
  //overflow-x: hidden;
  //-webkit-overflow-scrolling: touch;
}

.price-page article {
  //font-size: 0.9rem;
  //line-height: 1rem;

  display: none;
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  border-bottom: 1px solid #BEBBBB;

}

.price-page article:nth-of-type(1) {
  display: block;
}

.price-page article table {

  width: 100%;
  margin: 0 auto;

  tr:first-child {
    &:hover {
      background: none;
    }



    th {
    color: darkgrey;
    border-bottom:2px solid #c0392b ;
    padding: 10px 0;

    font-size: 1rem;

  }


  th:first-child {
    font-size: 1.4rem;
    color: #293a4b;
    width: 60%;

  }
    th.title {
      font-family: 'PT Sans';
      padding-left: 1%;
    }


  th:nth-child(2) {
    font-size: .8rem;
    font-family: 'PT Sans';
    padding-left: 1%;
  }


  }



  tr{
    &:hover {

      //transition: background, .2s ease;
      //background: #c0392b;

    }

  }
  tr:nth-child(2n) {

    background-color: #EDEDED;
  }

  tr td:nth-child(2), tr th:last-child {

    text-align: right;
    padding-right: 5px;
  }

  td {

    padding: 7px;

  }
  td:first-child {
    //border-right: 1px solid rgb(41, 58, 75);
  }

}
