@import '../blocks/header/logo';
@import '../blocks/header/phone';
@import '../blocks/header/address';


//// /* icons */ ////

$metka_icon:  inline-image('icons_svg/metka.svg');
$phone_icon: inline-image('icons_svg/tel.svg');

.metka-icon{background-image: $metka_icon;}
.phone-icon{background-image: $phone_icon; padding: 0 5px;}


header {
  height: 127px;
  width: 100%;
  color:#373737;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.06);
}
.header_inner {
  @include container(1110px);
  position: relative;
  height: 100%;
}

.social_vk {
  position: absolute;
  top: -7px;
  right: 80px;
  width: 58px;
  display: block;
  box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
  z-index: 999;
  transition: .5s;

  &:hover {
    transition: .5s;
    box-shadow: 0px 4px 9px 2px rgba(52, 73, 94, 0.5);

  }
  //
}


.icon {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
}













//

//

//

//
//
//
//header a {
//
//  color: #373737;
//
//  &:visited {
//    //color: inherit;
//  }
//
//}
//
//
//
//.logo a {
//  display: block;
//  height: 100%;
//
//  &:hover {
//    border: 0;
//    color: #50687d;
//
//    -webkit-transition: all,.6s;
//    -moz-transition: all,.6s;
//    -ms-transition: all,.6s;
//    -o-transition: all,.6s;
//    transition: all,.6s;
//  }
//
//}
//
//.site-name {
//  line-height: .9rem;
//}
//
//.site-name strong{
//
//  font-size: 1.2rem;
//}
//
//.address {
//  padding-top: 5px;
//  padding-bottom: 5px;
//}
// .to-route {
//  font-size: .7rem;
//  color: #949393;
//
//}
//.city-name {
//  //font-size: 1.2rem;
//  color: #373737
//}
//
//.address a  {
//
//  //border: 0;
//
//}
//
//
//.phone {
//  line-height: 1rem;
//  padding-top: 5px;
//  padding-bottom: 5px;
//
//}
//
//.tel_num {
//  //font-size: 1.2rem;
//  color: #373737;
//}
//
//

//
//  &:hover {
//    color: #ffffff;
//    text-decoration: none;
//    background-color: rgba(179, 53, 40, 0.9);
//    border: 1px solid rgba(179, 53, 40, 1);
//
//
//    -webkit-transition: all,.6s;
//    -moz-transition: all,.6s;
//    -ms-transition: all,.6s;
//    -o-transition: all,.6s;
//    transition: all,.6s;
//
//
//  }
//}
//
//
//
//
//
//header {
//  -webkit-box-shadow: 0 1px 0px -0px rgba(119, 119, 119, 0.5);
//  -moz-box-shadow: 0 1px 0px -0px rgba(119, 119, 119, 0.5);
//  box-shadow: 0 1px 0px -0px rgba(119, 119, 119, 0.5);
//  z-index: 999;
//  //padding:0 1rem;
//
//}
//
//
//
//.logo a {
//  display: block;
//  height: 100%;
//
//  &:hover {border: 0;
//  }
//  &:visited {
//    //color: #373737;
//    }
//}
//
//  .logo:hover {
//
//    transition: all,.2s;
//    a {
//      color: #50687d
//    }
//  }
//
//.logo .site-name strong {display: block;}
//.logo .site-name {
//  display: block;
//
//
//  &:hover {
//    //;
//  }
//
//}
//
//.logo a {display: block; }
//
//header a {
//
//  -webkit-transition: all,.6s;
//  -moz-transition: all,.6s;
//  -ms-transition: all,.6s;
//  -o-transition: all,.6s;
//  transition: all,.6s;
//  //border-bottom: 1px dashed indianred;
//
//  color: #373737;
//  //@include transition (border 0.2s ease-in-out);
//  //&:hover {
//  //  border-bottom: 1px dashed indianred;
//  //}
//
//}
//
//
@include susy-breakpoint($mobile-size, $mobile) {


  header {
    height: 105px;
  }

  .phone-icon {
    position: absolute;
    display: inline-block;
    float: left;
    left: -38px;
    top: 0px;
    background-size: 28px;
  }

  .metka-icon {
    position: absolute;
    top: 0px;
    left: -38px;
    background-size: 28px;
  }



  .social_vk {
    position: absolute;
    top: 78px;
    right: 15px;
    width: 24px;
    display: block;
    box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
    z-index: 999;
    transition: .5s;

    &:hover {
      transition: .5s;
      box-shadow: 0px 4px 9px 2px rgba(52, 73, 94, 0.5);

    }
    //
  }

  .header_logo{
    position: absolute;
    left: 7%;
    text-align: center;
    z-index: 2;
    float: left;
    width: 60px;
    top: 5px;
  }
  .header_logo img {
    //height: 80px;
  }
  .header_contacts {
    @include span(52%);
    float: right;
  }
  .header_contacts__address {
    @include span(last 6 of 6);
    text-align: left;
  }
  .header_contacts__phone,  {
    @include span(last 6 of 6);
    text-align: left;
  }
  .header_contacts__address {
    position: relative;
    @include margin-leader;
    line-height: 1rem;

  }
  .header_contacts__phone {
    position: relative;
    @include margin-leader();
    line-height: 1rem;
  }


//  header {
//    height: 100px;
//    z-index: 20;
//    position: relative;
//
//    .logo a {
//        @include span(3);
//      position: relative;
//      height: 120px;
//    }
//    .logo img {
//      position: absolute;
//
//      left: 0;
//      top:15%;
//    }
//
//    .contacts {
//      @include span(last 5);
//      height: inherit;
//      position: relative;
//    }
//
//
//    .site-name {
//      //width: 50px;
//      position: absolute;
//      bottom: 22%;
//      //right: 0px;
//      left: 60px;
//      font-size: 1.3rem;
//      line-height: 1.2rem;
//      //text-align: center;
//      //margin: 0 auto;
//    }
//
//    .address, .phone {
//      text-align: center;
//      font-size: 1.1rem;
//      line-height: 1rem;
//    }
//    .to-route {
//      display: none;
//    }
//    .work-hours {
//      display: none;
//    }
//    .phone {
//      //padding-top: 0;
//    }
//
//    .city-name, .tel_num {
//
//      display: block;
//
//    }
//
//    .h_icon {
//     display: none;
//    }
//
//    .call_btn {
//      height: 25px;
//      margin: 0 auto;
//      padding: 5px;
//    }
//  }
//
}


@include susy-breakpoint($tablet-size, $tablet ) {

  .icon {
    display: block;
    float: none;
    margin: 0 auto;
    height:40px;
    background-size: 35px;
  }

  .header_logo{
    position: relative;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 2;
    @include span(2);
    float: left;
  }

  .header_contacts {
    @include span(10)
  }
  .header_contacts__address {
    @include span(5 of 10);
  }
  .header_contacts__phone,  {
    @include span(last 5 of 10);
  }

  .header_contacts__address, .header_contacts__phone, {
    text-align: center;
    height: 100%;
    position: relative;
  }

  .header_contacts__address___inner, .header_contacts__phone___inner{
    position: absolute;
    margin: auto;
    width: 100%;
  }

//  header {
//    position: relative;
//    height: 70px;
//    padding: 0px 0;
//  }
//
//  .logo {
//    @include span(2);
//    height: 100%;
//    position: relative;
//  }
//  .logo img {
//    position: absolute;
//    left: 10px;
//    top: 30%;
//  }
//
//  a.home {
//    border: none;
//    width: 120px;
//  }
//  .site-name {
//    position: absolute;
//    top: 18px;
//    left: 55px;
//    line-height: 1rem;
//    text-align: left;
//    font-size: 1.1rem;
//
//  }
//
//
//
//  .address {
//    @include vertical-center(absolute, 20%);
//    @include span(5 of 10);
//    line-height: 2rem;
//  }
//  .to-route {
//    display: none;
//  }
//  .phone {
//    @include vertical-center(absolute, 20%);
//    line-height: 2rem;
//    right: 5%;
//  }
//
//
//
//  .city-name, .tel_num, a.call_btn {
//    display: inline;
//  }
//
//  .call_btn {
//    margin-left: 10px;
//    display: inline-block;
//    height: 27px;
//    width: 80px;
//  }
//  .work-hours {
//    display: none;
//  }
//
}

@include susy-breakpoint($desktop-size, $large ) {


  .header__inner {
    @include container(1140)
  }


  .icon {
    display: block;
    float: none;
    margin: 0 auto;
    height:40px;
    background-size: 35px;
  }



  .social_vk {
    position: absolute;
    top: -7px;
    right: 80px;
    width: 58px;
    display: block;
    box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
    z-index: 999;
    transition: .5s;

    &:hover {
      transition: .5s;
      box-shadow: 0px 4px 9px 2px rgba(52, 73, 94, 0.5);

    }
    //
  }




  .header_logo{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    z-index: 2;
    @include span(10.33333%);
  }
  .header_contacts{
    @include span(12);
  }
  .header_contacts__address {
    @include span(6);
  }
  .header_contacts__phone,  {
    @include span(last 6);
  }
  .header_contacts__address, .header_contacts__phone, {
    text-align: center;
    height: 100%;
    position: relative;
    top:15px;
    //line-height: 1rem;
  }

  //.header_contacts__address___inner, .header_contacts__phone___inner{
  //  position: absolute;
  //  margin: auto;
  //  width: 100%;
  //}

//
//
//    .street {
//      line-height: .8rem;
//      color: #373737
//    }
//
//
//
//
//    .telephone {
//      display: block;
//    }
//
//    .call_btn {
//      width: 98px;
//      padding: 7px 0 0 0;
//      margin: 0 auto;
//      -webkit-box-sizing: content-box;
//      -moz-box-sizing: content-box;
//      box-sizing: content-box;
//
//    }
//
//
//
//
//
//
//    .city-name, .tel_num {
//
//      display: block;
//
//    }
//



}


