//default
//

html {height:100%;}
body {height:100%;margin:0px;padding:0px}
body {
  overflow-x:hidden;
}

:-moz-any-link:focus {
  outline: none;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  -ms-touch-action: manipulation;	/* IE10  */
  touch-action: manipulation;		/* IE11+ */
}


body, img {
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}

nav li {
  -webkit-transition: all,.2s;
  -moz-transition: all,.2s;
  -ms-transition: all,.2s;
  -o-transition: all,.2s;
  transition: all,.2s;
}



img {
  max-width: 100%;
  margin: auto;
  display: block;
}




