/*
Error: Undefined mixin 'vertical-center'.
        on line 144 of /home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss, in `vertical-center'
        from line 144 of /home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss, in `@content'
        from line 24 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `@content'
        from line 36 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_grids.scss, in `with-layout'
        from line 23 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `@content'
        from line 75 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `@content'
        from line 62 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss, in `breakpoint'
        from line 74 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `susy-media-router'
        from line 21 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `susy-breakpoint'
        from line 96 of /home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss
        from line 9 of /home/frolin/RubymineProjects/compass/app/assets/layouts/_partials.scss
        from line 12 of /home/frolin/RubymineProjects/compass/app/assets/application.scss

Backtrace:
/home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss:144:in `vertical-center'
/home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss:144:in `@content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss:24:in `@content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_grids.scss:36:in `with-layout'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss:23:in `@content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss:75:in `@content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss:62:in `breakpoint'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss:74:in `susy-media-router'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss:21:in `susy-breakpoint'
/home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss:96
/home/frolin/RubymineProjects/compass/app/assets/layouts/_partials.scss:9
/home/frolin/RubymineProjects/compass/app/assets/application.scss:12
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (3 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (2 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:380:in `block in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:376:in `visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (3 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (2 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:380:in `block in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:376:in `visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `block (2 levels) in visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `block in visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:298:in `visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (3 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (2 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:380:in `block in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:376:in `visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (3 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:381:in `block (2 levels) in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:380:in `block in visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:376:in `visit_content'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:512:in `visit_media'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `block (2 levels) in visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `block in visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:298:in `visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `block (2 levels) in visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:299:in `block in visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:298:in `visit_if'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/root_node.rb:20:in `render'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin.rb:54:in `check_for_updates'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/rack.rb:51:in `call'
/home/frolin/RubymineProjects/compass/lib/connection_pool_management_middleware.rb:7:in `block in call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/activerecord-4.2.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:292:in `with_connection'
/home/frolin/RubymineProjects/compass/lib/connection_pool_management_middleware.rb:7:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/head.rb:11:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/methodoverride.rb:21:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/reloader/rack.rb:22:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/logger.rb:420:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/show_exceptions.rb:21:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/session/abstract/id.rb:225:in `context'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/session/abstract/id.rb:220:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:2021:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:1486:in `block in call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:1795:in `synchronize'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:1486:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:84:in `block in call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:75:in `each'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:75:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/lint.rb:49:in `_call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/lint.rb:37:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/showexceptions.rb:24:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/commonlogger.rb:33:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:218:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/chunked.rb:43:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/content_length.rb:14:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/handler/webrick.rb:60:in `service'
/home/frolin/.rvm/rubies/ruby-1.9.3-p551-dev/lib/ruby/1.9.1/webrick/httpserver.rb:138:in `service'
/home/frolin/.rvm/rubies/ruby-1.9.3-p551-dev/lib/ruby/1.9.1/webrick/httpserver.rb:94:in `run'
/home/frolin/.rvm/rubies/ruby-1.9.3-p551-dev/lib/ruby/1.9.1/webrick/server.rb:191:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'vertical-center'.\A         on line 144 of /home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss, in `vertical-center'\A         from line 144 of /home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss, in `@content'\A         from line 24 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `@content'\A         from line 36 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_grids.scss, in `with-layout'\A         from line 23 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `@content'\A         from line 75 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `@content'\A         from line 62 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss, in `breakpoint'\A         from line 74 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `susy-media-router'\A         from line 21 of /home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_breakpoint-plugin.scss, in `susy-breakpoint'\A         from line 96 of /home/frolin/RubymineProjects/compass/app/assets/layouts/partials/_header_contacts-page.scss\A         from line 9 of /home/frolin/RubymineProjects/compass/app/assets/layouts/_partials.scss\A         from line 12 of /home/frolin/RubymineProjects/compass/app/assets/application.scss"; }
