@import url(/fonts/PT_Sans/stylesheet.css);
/* line 11, ../../app/assets/_susy_grid.scss */
img {
  max-width: 100%;
  margin: auto;
  display: block;
}

/* line 21, ../../app/assets/_susy_grid.scss */
.address, .phone {
  white-space: nowrap;
}

/*GRID*/
/* line 29, ../../app/assets/_susy_grid.scss */
html {
  height: 100%;
}

/* line 33, ../../app/assets/_susy_grid.scss */
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 44, ../../app/assets/_susy_grid.scss */
header {
  height: 100px;
  z-index: 20;
  position: relative;
}
/* line 49, ../../app/assets/_susy_grid.scss */
header .logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 12.5%;
  float: left;
  padding-left: 1.25%;
  padding-right: 1.25%;
  height: inherit;
  position: relative;
  z-index: 2;
}
/* line 56, ../../app/assets/_susy_grid.scss */
header .contacts {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 62.5%;
  float: right;
  padding-left: 1.25%;
  padding-right: 1.25%;
  height: inherit;
  position: relative;
  z-index: 1;
}
/* line 64, ../../app/assets/_susy_grid.scss */
header .site-name {
  width: 100%;
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
/* line 73, ../../app/assets/_susy_grid.scss */
header .site-name strong {
  display: block;
  font-size: 1.1rem;
  line-height: 1rem;
}
/* line 78, ../../app/assets/_susy_grid.scss */
header .site-name span {
  display: block;
  line-height: 1rem;
}

/* line 92, ../../app/assets/_susy_grid.scss */
main {
  height: -moz-calc(100% - 120px);
  height: -webkit-calc(100% - 120px);
  height: calc(100% - 120px);
  overflow: hidden;
}

/* line 97, ../../app/assets/_susy_grid.scss */
#map {
  width: 100%;
  height: -moz-calc(100% - 155px);
  height: -webkit-calc(100% - 155px);
  height: calc(100% - 155px);
  overflow: hidden;
}

/* line 104, ../../app/assets/_susy_grid.scss */
#slogan {
  position: absolute;
  bottom: 130px;
  left: 0%;
  right: 0%;
  margin: auto;
  text-align: center;
}

/* line 115, ../../app/assets/_susy_grid.scss */
footer {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 122, ../../app/assets/_susy_grid.scss */
.main-menu {
  height: 80px;
}

/* line 131, ../../app/assets/_susy_grid.scss */
.copyright {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.25%;
  padding-right: 1.25%;
  position: absolute;
  bottom: 0;
}

/* line 138, ../../app/assets/_susy_grid.scss */
.created-by {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.25%;
  padding-right: 1.25%;
  position: absolute;
  bottom: 0;
  left: 50%;
}

/* line 144, ../../app/assets/_susy_grid.scss */
.created-by a {
  color: ghostwhite;
}

/* line 155, ../../app/assets/_susy_grid.scss */
.price-menu ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.price-menu ul li:nth-child(6n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.price-menu ul li:nth-child(6n + 2) {
  margin-left: 16.66667%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.price-menu ul li:nth-child(6n + 3) {
  margin-left: 33.33333%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.price-menu ul li:nth-child(6n + 4) {
  margin-left: 50%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.price-menu ul li:nth-child(6n + 5) {
  margin-left: 66.66667%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.price-menu ul li:nth-child(6n + 6) {
  margin-left: 83.33333%;
  margin-right: -100%;
  clear: none;
}

/* STYLE */
/* line 170, ../../app/assets/_susy_grid.scss */
.metka-icon {
  background-image: url("/images/icons_svg/metka.svg");
}

/* line 171, ../../app/assets/_susy_grid.scss */
.phone-icon {
  background-image: url("/images/icons_svg/tel.svg");
  padding: 0 5px;
}

/* line 173, ../../app/assets/_susy_grid.scss */
.h_icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
}

/* line 180, ../../app/assets/_susy_grid.scss */
header a {
  color: #373737;
}
/* line 184, ../../app/assets/_susy_grid.scss */
header a:visited {
  color: #373737;
}

/* line 191, ../../app/assets/_susy_grid.scss */
.logo a {
  display: block;
  height: 100%;
}
/* line 195, ../../app/assets/_susy_grid.scss */
.logo a:hover {
  border: 0;
  color: #50687d;
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}

/* line 207, ../../app/assets/_susy_grid.scss */
.site-name {
  line-height: .9rem;
}

/* line 216, ../../app/assets/_susy_grid.scss */
.address {
  line-height: 1.1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 222, ../../app/assets/_susy_grid.scss */
.city-name {
  color: #373737;
}

/* line 227, ../../app/assets/_susy_grid.scss */
.address a {
  border: 0;
}

/* line 234, ../../app/assets/_susy_grid.scss */
.phone {
  line-height: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 241, ../../app/assets/_susy_grid.scss */
.tel_num {
  color: #373737;
}

/* line 247, ../../app/assets/_susy_grid.scss */
a.call_btn {
  border: 1px dashed #b33528;
  border-radius: 5px;
  /* box-sizing: border-box; */
  line-height: 1.2rem;
  display: block;
  padding: 3px 7px;
  font-size: 1rem;
  height: 18px;
  /* margin: -3px 15px; */
  margin: 0 auto;
  width: 90px;
  color: #b33528;
  text-align: center;
}
/* line 263, ../../app/assets/_susy_grid.scss */
a.call_btn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(179, 53, 40, 0.9);
  border: 1px solid #b33528;
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}

/* CONTACTS HEADER */
/* line 283, ../../app/assets/_susy_grid.scss */
.page.contacts header {
  background-color: white;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
}

/* line 288, ../../app/assets/_susy_grid.scss */
.page.contacts .logo {
  background-image: url("/images/header/logo.svg");
  background-repeat: no-repeat;
  background-position: 50% 5%;
  background-size: 54px;
  position: relative;
  line-height: 100%;
}

/* line 305, ../../app/assets/_susy_grid.scss */
#slogan {
  background-color: white;
  padding: 10px;
  font-family: 'PT Sans Narrow';
}

/* line 323, ../../app/assets/_susy_grid.scss */
footer {
  background-color: #293a4b;
}

/* line 329, ../../app/assets/_susy_grid.scss */
.main-menu {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 999999;
}
/* line 342, ../../app/assets/_susy_grid.scss */
.main-menu li {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  padding: 5px 0;
  width: 30%;
  margin: 0px;
  background: #c0392b;
}
/* line 358, ../../app/assets/_susy_grid.scss */
.main-menu li:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  transition: padding 0.2s ease;
}
/* line 364, ../../app/assets/_susy_grid.scss */
.main-menu li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: BebasBold;
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #fff;
}

/* line 380, ../../app/assets/_susy_grid.scss */
.main-menu li.active {
  height: 75px;
}

/* line 384, ../../app/assets/_susy_grid.scss */
.footer-info p {
  margin: 0;
  color: #fff;
}

/* line 390, ../../app/assets/_susy_grid.scss */
.copyright {
  font-size: .6rem;
  margin: 0;
}

/* line 396, ../../app/assets/_susy_grid.scss */
.created-by {
  text-align: right;
  font-size: .6rem;
  margin: 0;
}
/* line 401, ../../app/assets/_susy_grid.scss */
.created-by a {
  font-style: italic;
}

/* line 414, ../../app/assets/_susy_grid.scss */
.page.price .logo {
  background-image: url("/images/header/logo.svg");
  background-repeat: no-repeat;
  background-position: 50% 5%;
  background-size: 56px;
  height: 100%;
  position: relative;
  line-height: 100%;
}

/* line 562, ../../app/assets/_susy_grid.scss */
.price-nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.price-nav:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 567, ../../app/assets/_susy_grid.scss */
.price-page {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.price-page:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 577, ../../app/assets/_susy_grid.scss */
.page.price {
  background: url("/images/bg/bg.jpg");
  background-position: 0px 170px;
  background-repeat: repeat-x;
  background-size: 50%;
}

/* line 14, ../../app/assets/_base.scss */
body, img {
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}

/* line 22, ../../app/assets/_base.scss */
nav li {
  -webkit-transition: all,.2s;
  -moz-transition: all,.2s;
  -ms-transition: all,.2s;
  -o-transition: all,.2s;
  transition: all,.2s;
}

/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*fonts*/
@font-face {
  font-family: "BebasRegular";
  src: url(/fonts/BebasRegular/BebasRegular.ttf) format('truetype'), url(/fonts/BebasRegular/BebasRegular.eot) format('embedded-opentype'), url(/fonts/BebasRegular/BebasRegular.woff) format('woff');
}
@font-face {
  font-family: "BebasBold";
  src: url(/fonts/BebasBold/BebasBold.ttf) format('truetype'), url(/fonts/BebasBold/BebasBold.eot) format('embedded-opentype'), url(/fonts/BebasBold/BebasBold.woff) format('woff');
}
@font-face {
  font-family: "PTSansBold";
  src: url(/fonts/PTSansBold/PTSansBold.ttf) format('truetype'), url(/fonts/PTSansBold/PTSansBold.eot) format('embedded-opentype'), url(/fonts/PTSansBold/PTSansBold.woff) format('woff');
}
@font-face {
  font-family: "PTSansRegular";
  src: url(/fonts/PTSansRegular/PTSansRegular.ttf) format('truetype'), url(/fonts/PTSansRegular/PTSansRegular.eot) format('embedded-opentype'), url(/fonts/PTSansRegular/PTSansRegular.woff) format('woff');
}
@font-face {
  font-family: "PTSansNarrow";
  src: url(/fonts/PTSansNarrow/PTSansNarrow.ttf) format('truetype'), url(/fonts/PTSansNarrow/PTSansNarrow.eot) format('embedded-opentype'), url(/fonts/PTSansNarrow/PTSansNarrow.woff) format('woff');
}
/*base */
/* line 106, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.22222em;
}

@media (min-width: 200px 480px) and (max-width: 481px 960px) {
  /* line 106, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 112.5%;
    line-height: 1.22222em;
  }
}
@media (min-width: 481px 960px) {
  /* line 106, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 137.5%;
    line-height: 1.13636em;
  }
}
@media (min-width: 961px) {
  /* line 106, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 137.5%;
    line-height: 1.13636em;
  }
}
/*DEBUG*/
/**/
/* line 72, ../../app/assets/style/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 76, ../../app/assets/style/_typography.scss */
a {
  color: indianred;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #373737;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: blue;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: red;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: blue;
}

/* line 80, ../../app/assets/style/_typography.scss */
h1, h2, h3, h4, h5, p, iframe {
  margin-bottom: 25px;
  margin-bottom: 1.13636rem;
}

/* line 86, ../../app/assets/style/_typography.scss */
h1 {
  font-size: 69px;
  font-size: 3.157rem;
  line-height: 75px;
  line-height: 3.40909rem;
}

/* line 87, ../../app/assets/style/_typography.scss */
h2 {
  font-size: 52px;
  font-size: 2.369rem;
  line-height: 75px;
  line-height: 3.40909rem;
}

/* line 88, ../../app/assets/style/_typography.scss */
h3 {
  font-size: 39px;
  font-size: 1.777rem;
  line-height: 50px;
  line-height: 2.27273rem;
}

/* line 89, ../../app/assets/style/_typography.scss */
h4 {
  font-size: 25px;
  font-size: 1.133rem;
  line-height: 50px;
  line-height: 2.27273rem;
}

/* line 90, ../../app/assets/style/_typography.scss */
h5 {
  font-size: 22px;
  font-size: 1rem;
  line-height: 50px;
  line-height: 2.27273rem;
}

/* line 91, ../../app/assets/style/_typography.scss */
h6 {
  font-size: 17px;
  font-size: 0.75rem;
  line-height: 25px;
  line-height: 1.13636rem;
}

/* line 93, ../../app/assets/style/_typography.scss */
.price-page article {
  font-family: "PT Sans";
}

/* line 103, ../../app/assets/style/_typography.scss */
a {
  text-decoration: none;
}

/* line 108, ../../app/assets/style/_typography.scss */
ul {
  list-style-type: none;
}

/* line 111, ../../app/assets/style/_typography.scss */
a, p, span {
  font-family: "BebasRegular";
}

/* line 114, ../../app/assets/style/_typography.scss */
strong {
  font-family: "BebasBold";
}

/* line 118, ../../app/assets/style/_typography.scss */
header .contacts {
  font-family: "BebasRegular";
}

@media (min-width: 200px) and (max-width: 480px) {
  /* line 2, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header {
    height: 100px;
    z-index: 20;
    position: relative;
  }
  /* line 7, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header .logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 37.5%;
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
    height: inherit;
    position: relative;
  }
  /* line 13, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header .contacts {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 62.5%;
    float: right;
    padding-left: 1.25%;
    padding-right: 1.25%;
    height: inherit;
    position: relative;
  }
  /* line 19, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header .site-name {
    width: 50px;
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
  }
  /* line 30, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header .address, header .phone {
    text-align: center;
  }
  /* line 33, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header .phone {
    padding-top: 0;
  }
  /* line 37, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header .city-name, header .tel_num {
    display: block;
  }
  /* line 43, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  header .h_icon {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 960px) {
  /* line 52, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header {
    height: 110px;
    background-color: rgba(255, 255, 255, 0.85);
  }
  /* line 57, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    height: 120px;
    min-width: 70px;
    position: absolute;
    left: 0%;
    right: 0%;
    margin: auto;
    background-position: 50% 5px;
  }
  /* line 68, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header a.home {
    position: relative;
    line-height: 20px;
    border: none;
  }
  /* line 73, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .site-name {
    position: absolute;
    bottom: 20px;
    margin: auto;
    left: 0;
    text-align: center;
    right: 0%;
  }
  /* line 82, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .contacts {
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    position: relative;
    text-align: center;
  }
  /* line 91, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .address {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: left;
    margin-left: 8.33333%;
    margin-right: -100%;
    text-align: center;
    top: 0;
    line-height: 1.2rem;
  }
  /* line 100, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .phone {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: left;
    margin-left: 58.33333%;
    margin-right: -100%;
    top: 0;
    padding-top: 5px;
    line-height: 1.2rem;
  }
  /* line 110, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .telephone {
    line-height: 1rem;
  }
  /* line 115, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header a.call_btn {
    height: 18px;
    padding: 1px 0px;
  }
  /* line 121, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .h_icon {
    display: block;
    float: none;
    margin: 0 auto;
    height: 35px;
    background-size: 28px;
  }
  /* line 130, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .city-name, .page.contacts header .tel_num {
    display: block;
  }
  /* line 137, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .phone-icon {
    margin-bottom: 5px;
  }
  /* line 141, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .metka-icon {
    margin-bottom: 3px;
  }
}
@media (min-width: 961px) {
  /* line 153, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header {
    height: 125px;
  }
  /* line 156, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    height: 120px;
    min-width: 70px;
    position: absolute;
    left: 0%;
    right: 0%;
    margin: auto;
    background-position: 50% 5px;
    background-size: 64px;
    z-index: 2;
  }
  /* line 170, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header a.home {
    position: relative;
    line-height: 20px;
    border: none;
    z-index: 1;
  }
  /* line 178, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .site-name {
    position: absolute;
    bottom: 0px;
    margin: auto;
    left: 0;
    text-align: center;
    right: 0%;
  }
  /* line 187, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .contacts {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    position: relative;
    text-align: center;
  }
  /* line 193, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .address {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: left;
    margin-left: 16.66667%;
    margin-right: -100%;
    position: relative;
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
    text-align: center;
  }
  /* line 200, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .city-name {
    display: block;
    line-height: 1.2rem;
  }
  /* line 208, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .phone {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: left;
    margin-left: 58.33333%;
    margin-right: -100%;
    text-align: center;
    position: relative;
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  /* line 214, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .telephone {
    display: block;
  }
  /* line 218, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header a.call_btn {
    display: block;
    height: 33px;
    padding: 4px;
    width: 98px;
  }
  /* line 227, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .city-name, .page.contacts header .tel_num {
    display: block;
  }
  /* line 232, ../../app/assets/layouts/partials/_header_contacts-page.scss */
  .page.contacts header .h_icon {
    display: block;
    float: none;
    margin: 0 auto;
    height: 45px;
    background-size: 35px;
  }
}
@media (min-width: 481px) and (max-width: 960px) {
  /* line 86, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header {
    position: relative;
    height: 60px;
  }
  /* line 90, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    height: 100%;
    min-width: 70px;
    top: 0;
    background-position: 0 0;
  }
  /* line 99, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header a.home {
    line-height: 20px;
    border: none;
  }
  /* line 104, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .site-name {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    -moz-transform: translateY(55%);
    -ms-transform: translateY(55%);
    -webkit-transform: translateY(55%);
    transform: translateY(55%);
    text-align: left;
    margin-left: 50px;
  }
  /* line 114, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .contacts {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    height: 100%;
    position: relative;
  }
  /* line 120, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .city-name, .page.price header .tel_num, .page.price header .call_btn {
    display: inline;
  }
  /* line 124, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .address {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    line-height: 2.6rem;
  }
  /* line 131, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .phone {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    line-height: 2.6rem;
  }
  /* line 138, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .h_icon {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    margin: 0 auto;
    height: 35px;
    background-size: 30px;
  }
  /* line 146, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header a.call_btn {
    margin-left: 10px;
    display: inline-block;
    height: 20px;
  }
}
@media (min-width: 481px) and (max-width: 720px) {
  /* line 163, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header {
    height: 70px;
  }
  /* line 166, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .h_icon {
    float: none;
    background-size: 32px;
    height: 30px;
    display: block;
  }
  /* line 173, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .address {
    position: relative;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    line-height: 2rem;
    text-align: center;
  }
  /* line 178, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .phone {
    position: relative;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    line-height: 2rem;
    text-align: center;
  }
}
@media (min-width: 961px) {
  /* line 191, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header {
    max-width: 960px;
    max-width: 43.63636rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 70px;
    padding: 0px 0;
  }
  /* line 12, ../../../../.rvm/gems/ruby-1.9.3-p551-dev/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .page.price header:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 197, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    height: 100%;
    min-width: 70px;
    max-width: 80px;
    position: relative;
    background-position: 0 0px;
    background-size: 66px;
  }
  /* line 208, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header a.home {
    border: none;
    width: 120px;
  }
  /* line 212, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .site-name {
    position: absolute;
    top: 18px;
    left: 65px;
    line-height: 1rem;
    text-align: left;
    font-size: 1.1rem;
  }
  /* line 222, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .contacts {
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    position: relative;
  }
  /* line 228, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .address {
    position: absolute;
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    line-height: 2rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-left: 9.16667%;
  }
  /* line 234, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .phone {
    position: absolute;
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    padding-left: 9.16667%;
    top: 0%;
    line-height: 2rem;
    left: 50%;
  }
  /* line 244, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .h_icon {
    float: left;
  }
  /* line 248, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header .city-name, .page.price header .tel_num, .page.price header a.call_btn {
    display: inline;
  }
  /* line 251, ../../app/assets/layouts/partials/_header_price-page.scss */
  .page.price header a.call_btn {
    margin-left: 10px;
    display: inline-block;
    height: 32px;
  }
}
/* line 1, ../../app/assets/layouts/partials/_price-menu.scss */
.price-menu {
  background-color: #34495e;
  height: 90px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0 1px 0px 0px rgba(119, 119, 119, 0.5);
  box-shadow: 0 1px 0px 0px rgba(119, 119, 119, 0.5);
  z-index: 10;
}

/* line 10, ../../app/assets/layouts/partials/_price-menu.scss */
ul.price-nav {
  list-style-type: none;
}

/* line 17, ../../app/assets/layouts/partials/_price-menu.scss */
ul.price-nav li {
  text-align: center;
  height: 90px;
  width: 16%;
  padding-top: 12px;
}
/* line 24, ../../app/assets/layouts/partials/_price-menu.scss */
ul.price-nav li:hover {
  transition: background, .3s ease;
  background: #D15F54;
}

/* line 32, ../../app/assets/layouts/partials/_price-menu.scss */
.active {
  background: #D15F54;
}

/* line 38, ../../app/assets/layouts/partials/_price-menu.scss */
ul.price-nav li:nth-child(4) {
  width: 20%;
}

/* line 43, ../../app/assets/layouts/partials/_price-menu.scss */
ul.price-nav li input[type=radio] {
  display: none;
}

/* line 49, ../../app/assets/layouts/partials/_price-menu.scss */
ul.price-nav li .label {
  display: inline-block;
  color: white;
  border-bottom: 1px dashed #ffffff;
}

/* line 59, ../../app/assets/layouts/partials/_price-menu.scss */
.price-nav .icon {
  height: 40px;
  background-position: 50% 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 100%;
  left: auto;
  right: auto;
  margin: 0 auto;
  display: block;
  text-align: center;
}
/* line 73, ../../app/assets/layouts/partials/_price-menu.scss */
.price-nav ul.price-nav li {
  text-align: center;
  height: 120px;
  width: 16%;
  padding-top: 0px;
}

@media (min-width: 481px) and (max-width: 960px) {
  /* line 85, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-menu {
    height: 105px;
  }

  /* line 88, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon {
    background-position: 50% 50%;
    background-size: 60%;
    height: 60px;
  }

  /* line 96, ../../app/assets/layouts/partials/_price-menu.scss */
  ul.price-nav li {
    height: 105px;
    width: 16%;
    padding-top: 10px;
  }

  /* line 105, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav span {
    font-size: .9rem;
  }
}
@media (min-width: 961px) {
  /* line 119, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-menu {
    height: 120px;
  }

  /* line 123, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon {
    background-position: 50% 50%;
    height: 65px;
    background-size: 64%;
  }

  /* line 130, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon-to {
    background-size: 55%;
    background-position: 50% 5px;
  }
  /* line 134, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon-remont {
    background-size: 55%;
    background-position: 50% 5px;
  }
  /* line 138, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon-custom {
    background-size: 55%;
    background-position: 50% -5px;
  }
  /* line 142, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon-mount {
    background-size: 50%;
    background-position: 50% 0px;
  }
  /* line 146, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon-wash {
    background-size: 55%;
    background-position: 50% 10px;
  }
  /* line 150, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav .icon-paint {
    background-size: 55%;
    background-position: 50% 5px;
  }

  /* line 156, ../../app/assets/layouts/partials/_price-menu.scss */
  .price-nav span {
    padding-top: 10px;
    font-size: 1rem;
  }

  /* line 163, ../../app/assets/layouts/partials/_price-menu.scss */
  ul.price-nav li {
    height: 120px;
  }
}
/* line 174, ../../app/assets/layouts/partials/_price-menu.scss */
ul.price-nav li:nth-child(4) {
  width: 18%;
}

/* line 180, ../../app/assets/layouts/partials/_price-menu.scss */
.label {
  font-size: .7rem;
}

/* line 188, ../../app/assets/layouts/partials/_price-menu.scss */
.icon-to {
  background-image: url("/images/icons/menu-price/1.svg");
}

/* line 189, ../../app/assets/layouts/partials/_price-menu.scss */
.icon-remont {
  background-image: url("/images/icons/menu-price/2.svg");
}

/* line 190, ../../app/assets/layouts/partials/_price-menu.scss */
.icon-custom {
  background-image: url("/images/icons/menu-price/3.svg");
}

/* line 191, ../../app/assets/layouts/partials/_price-menu.scss */
.icon-mount {
  background-image: url("/images/icons/menu-price/4.svg");
}

/* line 192, ../../app/assets/layouts/partials/_price-menu.scss */
.icon-wash {
  background-image: url("/images/icons/menu-price/5.svg");
}

/* line 193, ../../app/assets/layouts/partials/_price-menu.scss */
.icon-paint {
  background-image: url("/images/icons/menu-price/6.svg");
}

/* line 2, ../../app/assets/layouts/partials/_footer.scss */
footer {
  background-color: #293a4b;
  z-index: 2;
}
/* line 7, ../../app/assets/layouts/partials/_footer.scss */
footer nav {
  padding: 0px 0;
}
/* line 11, ../../app/assets/layouts/partials/_footer.scss */
footer .main-menu {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  list-style-type: none;
}
/* line 18, ../../app/assets/layouts/partials/_footer.scss */
footer .main-menu li {
  display: inline-block;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  height: 60px;
  width: 40%;
  margin: 0 5px;
  background: #c0392b;
  max-width: 225px;
  min-width: 100px;
}
/* line 28, ../../app/assets/layouts/partials/_footer.scss */
footer .main-menu li:hover {
  height: 70px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}
/* line 40, ../../app/assets/layouts/partials/_footer.scss */
footer .main-menu li:active {
  color: red;
}
/* line 45, ../../app/assets/layouts/partials/_footer.scss */
footer .main-menu a {
  display: block;
  text-decoration: none;
  border: 0;
  top: 0;
  padding-top: 15px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100%;
  font-family: BebasBold;
  font-size: 1.3rem;
  color: #fff;
}
/* line 63, ../../app/assets/layouts/partials/_footer.scss */
footer .footer-info {
  font-size: 65%;
  color: rgba(255, 255, 255, 0.8);
}
/* line 66, ../../app/assets/layouts/partials/_footer.scss */
footer .footer-info p {
  margin: 0;
}
/* line 67, ../../app/assets/layouts/partials/_footer.scss */
footer .footer-info a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}
/* line 76, ../../app/assets/layouts/partials/_footer.scss */
footer .created-by {
  text-align: right;
  font-style: italic;
}

/* line 82, ../../app/assets/layouts/partials/_footer.scss */
footer ul.main-menu li.active {
  height: 75px;
}

/* line 17, ../../app/assets/layouts/pages/price.scss */
.price-page {
  position: relative;
  height: calc(100% - 190px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 25, ../../app/assets/layouts/pages/price.scss */
.price-page article {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 32, ../../app/assets/layouts/pages/price.scss */
.price-page article {
  display: none;
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  border-bottom: 1px solid #BEBBBB;
}

/* line 41, ../../app/assets/layouts/pages/price.scss */
.price-page article:nth-of-type(1) {
  display: block;
}

@media (min-width: 200px) and (max-width: 480px) {
  /* line 49, ../../app/assets/layouts/pages/price.scss */
  .price-page article table {
    width: 100%;
  }
  /* line 52, ../../app/assets/layouts/pages/price.scss */
  .price-page article table th:last-child, .price-page article table tbody tr td:last-child {
    text-align: right;
  }
  /* line 56, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead {
    display: block;
    width: 100%;
    color: darkgrey;
    border-bottom: 2px solid #c0392b;
  }
  /* line 63, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr {
    display: table;
    width: 98%;
    margin: 0 auto;
  }
  /* line 68, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr th:first-child {
    font-size: 1.4rem;
    color: #293a4b;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 75, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr th:last-child {
    font-size: .8rem;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 82, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody {
    display: table;
    width: 98%;
    margin: 0 auto;
  }
  /* line 88, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr {
    border-bottom: 1px solid #C7C7C7;
  }
  /* line 91, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr:last-child {
    border-bottom: none;
  }
  /* line 95, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr td {
    padding: 3px;
  }
  /* line 99, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr td:last-child {
    padding-right: 1%;
    text-align: right;
  }
}
@media (min-width: 481px) and (max-width: 960px) {
  /* line 111, ../../app/assets/layouts/pages/price.scss */
  .price-page article table {
    width: 100%;
  }
  /* line 114, ../../app/assets/layouts/pages/price.scss */
  .price-page article table th:last-child, .price-page article table tbody tr td:last-child {
    text-align: right;
  }
  /* line 118, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead {
    display: block;
    width: 100%;
    color: darkgrey;
    border-bottom: 2px solid #c0392b;
  }
  /* line 125, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr {
    display: table;
    width: 67%;
    margin: 0 auto;
  }
  /* line 130, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr th:first-child {
    font-size: 1.4rem;
    color: #293a4b;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 137, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr th:last-child {
    font-size: .8rem;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 144, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody {
    display: table;
    width: 67%;
    margin: 0 auto;
  }
  /* line 150, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr {
    border-bottom: 1px solid #C7C7C7;
  }
  /* line 153, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr:last-child {
    border-bottom: none;
  }
  /* line 157, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr td {
    padding: 7px;
  }
  /* line 161, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr td:last-child {
    padding-right: 1%;
    text-align: right;
  }
}
@media (min-width: 961px) {
  /* line 174, ../../app/assets/layouts/pages/price.scss */
  .price-page article table {
    width: 100%;
  }
  /* line 177, ../../app/assets/layouts/pages/price.scss */
  .price-page article table th:last-child, .price-page article table tbody tr td:last-child {
    text-align: right;
  }
  /* line 181, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead {
    display: block;
    width: 100%;
    color: darkgrey;
    border-bottom: 2px solid #c0392b;
  }
  /* line 188, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr {
    display: table;
    width: 67%;
    margin: 0 auto;
  }
  /* line 193, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr th:first-child {
    font-size: 1.4rem;
    color: #293a4b;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 200, ../../app/assets/layouts/pages/price.scss */
  .price-page article table thead tr th:last-child {
    font-size: .8rem;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 207, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody {
    display: table;
    width: 67%;
    margin: 0 auto;
  }
  /* line 213, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr {
    border-bottom: 1px solid #C7C7C7;
  }
  /* line 216, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr:last-child {
    border-bottom: none;
  }
  /* line 220, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr td {
    padding: 7px;
  }
  /* line 224, ../../app/assets/layouts/pages/price.scss */
  .price-page article table tbody tr td:last-child {
    padding-right: 1%;
    text-align: right;
  }
}
