= partial 'layouts/partials/price-menu'

.price-page
	%article.tab_item.TO
		%table
			%thead
				%th.title Техническое обслуживание
				%th.price_light цена указана в рублях
				%th.price цена указана в рублях
			%tbody
			-	@categories['слесарные_работы'].each do |row|
				%tr
					%td
						=row[0]
					%td
						=row[1]
					%td
						=row[2]



	%article.tab_item.remont
		%table
			%thead
				%tr
					%th.title	Ремонт
					%th цена указана в рублях
			%tbody
			-	@categories['химчистка'].each do |row|
				%tr
					%td
						=row[0]
					%td
						=row[1]
					%td
						=row[2]

	%article.tab_item.custom
		%table
			%thead
				%tr
					%th.title	Кастом
					%th цена указана в рублях
			%tbody
				%tr
					%td Название
					%td Цена

	%article.tab_item.shinomontazh
		%table
			%thead
				%tr
					%th.title Шиномонтаж
					%th цена указана в рублях

			%tbody
				%tr
					%td Название
					%td Цена

	%article.tab_item.wash
		%table
			%thead
				%tr
					%th.title Шиномонтаж
					%th цена указана в рублях
			%tbody
				%tr
					%td Название
					%td Цена

	%article.tab_item.paint
		%table
			%thead
				%tr
					%th.title Шиномонтаж
					%th цена указана в рублях

			%tbody
				%tr
					%td Название
					%td Цена








