
= partial 'layouts/partials/price-menu'

.price-page
	%article.tab_item.TO
		%table
			%tr
				%th.title Тех.Обслуживание
				%th	цена указана в рублях
			%tr
				%td Замена масла двс
				%td от 500

			%tr
				%td Замена воздушнего фильтра
				%td 250

			%tr
				%td Замена салонного фильтра
				%td от 500

			%tr
				%td Замена топливного фильтра
				%td от 500

	%article.tab_item.remont
		%table
			%tr
				%th	Ремонт
				%th Цена
			%tr
				%td Название
				%td Цена


	%article.tab_item.custom
		%h2#custom
			Кастом
		%table
			%tr
				%th	Название
				%th Цена
			%tr
				%td Название
				%td Цена


	%article.tab_item.shinomontazh
		%h2#shinomontazh
			Шиномонтаж
		%table
			%tr
				%th	Название
				%th Цена
			%tr
				%td Название
				%td Цена
	%article.tab_item.wash
		%h2#wash
			Мойка
		%table
			%tr
				%th	Название
				%th Цена
			%tr
				%td Название
				%td Цена

	%article.tab_item.paint
		%h2#paint
			Покраска
		%table
			%tr
				%th	Название
				%th Цена
			%tr
				%td Название
				%td Цена