= partial 'layouts/partials/header'   
= partial 'layouts/partials/price-menu'

.price-page
	%article.tab_item.TO
		%table
			%thead
				%th.title Техническое обслуживание
				%th.price цена указана в рублях
			%tbody
				%tr
					%td Замена масла двс
					%td от 500

				%tr
					%td Замена воздушнего фильтра
					%td 250

				%tr
					%td Замена салонного фильтра
					%td от 500

				%tr
					%td Замена топливного фильтра
					%td от 500
				%tr
					%td Замена свечей зажигания
					%td 600-4000

				%tr
					%td Замена антифриза
					%td 500

	%article.tab_item.remont
		%table
			%thead
				%tr
					%th.title	Ремонт
					%th цена указана в рублях
			%tbody
				%tr
					%td Замена компрессора кондиционера
					%td 750
				%tr
					%td Замена задней опоры ДВС
					%td 1000
				%tr
					%td Замена передней опоры ДВС
					%td 1500
				%tr
					%td Замена приводного ремня
					%td 1500
				%tr
					%td Замена ролика приводного ремня
					%td 1300
				%tr
					%td Замена втулок переднего стабилизатора
					%td 1200
				%tr
					%td Замена втулок заднего стабилизатора
					%td 1200
				%tr
					%td Замена стоек переднего стабилизатора
					%td 1500
				%tr
					%td Замена стоек заднего стабилизатора
					%td 1500
				%tr
					%td Замена перднего амортизатора
					%td 4500
				%tr
					%td Замена заднего амортизатора
					%td 2400-4320


	%article.tab_item.custom
		%table
			%thead
				%tr
					%th.title	Кастом
					%th цена указана в рублях
			%tbody
				%tr
					%td Название
					%td Цена


	%article.tab_item.shinomontazh
		%table
			%thead
				%tr
					%th.title Шиномонтаж
					%th цена указана в рублях

			%tbody
				%tr
					%td Название
					%td Цена
	%article.tab_item.wash
		%table
			%thead
				%tr
					%th.title Шиномонтаж
					%th цена указана в рублях
			%tbody
				%tr
					%td Название
					%td Цена
	%article.tab_item.paint
		%table
			%thead
				%tr
					%th.title Шиномонтаж
					%th цена указана в рублях

			%tbody
				%tr
					%td Название
					%td Цена