
= partial 'layouts/partials/price-menu'
.price-page
	%section.TO
		%h2#TO
			ТО
		%ul
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
	%section.remont
		%h2#remont
			Ремонт
		%ul
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
	%section.custom
		%h2#custom
			Кастом
		%ul
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
			%li
			%li
	%section.shinomontazh
		%h2#shinomontazh
			Шиномонтаж
		%ul
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
	%section.wash
		%h2#wash
			Мойка
		%ul
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li

	%section.paint
		%h2#paint
			Покраска
		%ul
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
				Замена компрес кондиционера
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li
			%li