
= partial 'layouts/partials/price-menu'
.price-page
	%h2#TO
		ТО
	%ul
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
	%h2#remont
		Ремонт
	%ul
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
	%h2#custom
		Кастом
	%ul
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
		%li
		%li
	%h2#shinomontazh
		Шиномонтаж
	%ul
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li

	%h2#wash
		Мойка
	%ul
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li


	%h2#wash
		Покраска
	%ul
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
			Замена компрес кондиционера
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li
		%li