
= partial 'layouts/partials/price-menu'

.price-page
	%article.tab_item.TO
		%table
			%tr
				%th.title Техническое обслуживание
				%th	цена указана в рублях
			%tr
				%td Замена масла двс
				%td от 500

			%tr
				%td Замена воздушнего фильтра
				%td 250

			%tr
				%td Замена салонного фильтра
				%td от 500

			%tr
				%td Замена топливного фильтра
				%td от 500

	%article.tab_item.remont
		%table
			%tr
				%th	Ремонт
				%th цена указана в рублях
			%tr
				%td Название
				%td Цена


	%article.tab_item.custom
		%table
			%tr
				%th	Кастом
				%th цена указана в рублях
			%tr
				%td Название
				%td Цена


	%article.tab_item.shinomontazh
		%table
			%tr
				%th	Шиномонтаж
				%th цена указана в рублях

			%tr
				%td Название
				%td Цена
	%article.tab_item.wash
		%table
			%tr
				%th	Мойка
				%th цена указана в рублях
			%tr
				%td Название
				%td Цена

	%article.tab_item.paint
		%table
			%tr
				%th	Покраска
				%th цена указана в рублях
			%tr
				%td Название
				%td Цена