@include susy-breakpoint($mobile-size, $mobile) {


  .header_logo {
    top:0px;
    width: 20%;
    max-width: 70px;

    img {width: 60px;}

  }

  .header_logo__sitename {
    color: #373737;
    position: relative;
    line-height: 1rem;
    display: block;
    top:5px;
    font-size: 1.3rem;

  }
}

@include susy-breakpoint($tablet-size, $tablet ) {
  .header_logo img {
    position: relative;
    line-height: 100%;
    margin: 0 auto;
    height: 70px;
    top: 10px;
  }

  .header_logo__sitename{
    margin: 0 auto;
    color: #373737;
    position: relative;
    line-height: 1rem;
    display: block;
    width: 70px;
    font-size: 1.2rem;
    top:15px;
    //margin-top: 10px;
  }

  .header_contacts {
    position: relative;
    top: 15px;
  }
}


@include susy-breakpoint($desktop-size, $large ) {

  .header_logo {
    top:3px;
  }

  .header_logo img {
    position: relative;
    line-height: 100%;
    margin: 0 auto;
    height: 68px;
    top: 0px;

  }

  .header_logo__sitename{
    margin: 0 auto;
    color: #373737;
    position: relative;
  }

  .sitename_name__strong {
    display: block;
    font-size: 1.2rem;
    line-height: .8rem;
    margin-top: 10px;
  }

  .sitenane_name {
    display: block;
  }

}