


.block_contacts {

  height: 100%;
  @include span(last 10);
  position: relative;

}


.block_phone__icon {
  float: left;
  background-size: 34px;
  display: block;
  width: 15%;
}


.contacts_phone__work-hours {
  //bottom: 40px;
  font-size: .7rem;

}





@include susy-breakpoint($mobile-size, $mobile) {


  .header_contacts__phone {
    text-align: right;
  }


  a.contacts_phone__call_btn{
    //bottom: 35px;
    //right: 5px;
    float: left;
    display: block;
    width: 50px;

  span {
    color:grey;
    border-bottom: 1px dashed grey;
  }

  }

  .phone_block {

  }
  .contacts_phone__telnum {
    //position: absolute;
    //top: 0px;
    //left: 45px;
    color: #373737;
    //float: left;
    display: block;
  }
  .phone_block__telephone{

  }

  .contacts_phone__work-hours{
    display: none;
  }


  a.contacts_phone__call_btn {
  //
     -webkit-transition: all,.1s;
    -moz-transition: all,.1s;
    -ms-transition: all,.1s;
    -o-transition: all,.1s;
    transition: all,1s;
    color: #ffffff;

    //    border: 1px dashed #b33528;
  //    border-radius: 5px;
  //    display: block;
  //    position: relative;
  //    top: 0px;
  //    height: 60px;
  //    width: 97px;
  //    margin: 0 auto;
  //    box-sizing: border-box;
  //    -moz-box-sizing: border-box;
  //    -webkit-box-sizing: border-box;
  //
  //  i { position: relative; top: 15px;}
  //
  }

  a.contacts_phone__call_btn:hover  {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(179, 53, 40, 0.9);
    border: 1px dashed rgb(255, 237, 239);
    -webkit-transition: all,.6s;
    -moz-transition: all,.6s;
    -ms-transition: all,.6s;
    -o-transition: all,.6s;
    transition: all,.6s;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

  }


  a.contacts_phone__call_btn .link_name{
    font-size: .9rem;
    //border-bottom: 1px dashed grey;
    color: #948686;
    display: inline-block;
    margin-top: 2px;

    //position: absolute;
    //text-align: center;
    //right: 7px;
    //top: 15px;
    //line-height: 1.45rem;
    //display: block;
  }
  //a.contacts_phone__call_btn:hover .link_name {
  //  color: #fff;
  //  -webkit-transition: all,.6s;
  //  -moz-transition: all,.6s;
  //  -ms-transition: all,.6s;
  //  -o-transition: all,.6s;
  //  transition: all,.6s;
  //}


  .contacts_phone__work-hours {
    //font-size: .6rem;
    //line-height: .8rem;
    //display: block;
    position: absolute;
    //bottom: 2px;
    left: 0px;
    //color: #100F0F;
    //z-index: 5;

  }
}

@include susy-breakpoint($tablet-size, $tablet ) {
  a.contacts_phone__call_btn  {
    display: block;
  }
  a.contacts_phone__call_btn .link_name {
    font-size: .9rem;
    border-bottom: 1px dashed grey;
    color: #948686;
  }

    //a.contacts_phone__call_btn {
  //  border: 1px dashed rgba(179, 53, 40, 1);
  //  border-radius: 5px;
  //  display: block;
  //  position: relative;
  //  top: 4px;
  //  height: 60px;
  //  width: 97px;
  //  margin: 0 auto;
  //
  //  box-sizing: border-box;
  //  -moz-box-sizing: border-box;
  //  -webkit-box-sizing: border-box;
  //
  //
  //}
  //
  //a.contacts_phone__call_btn:hover  {
  //  color: #ffffff;
  //  text-decoration: none;
  //  background-color: rgba(179, 53, 40, 0.9);
  //  border: 1px dashed rgb(255, 237, 239);
  //  -webkit-transition: all,.6s;
  //  -moz-transition: all,.6s;
  //  -ms-transition: all,.6s;
  //  -o-transition: all,.6s;
  //  transition: all,.6s;
  //
  //  box-sizing: border-box;
  //  -moz-box-sizing: border-box;
  //  -webkit-box-sizing: border-box;
  //
  //}
  ////
  ////
  //a.contacts_phone__call_btn .link_name{
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  margin:0 auto;
  //  font-size: 1rem;
  //  line-height: 1.45rem;
  //  display: block;
  //  color: rgba(179, 53, 40, 1);
  //}
  //a.contacts_phone__call_btn:hover .link_name {
  //  color: #fff;
  //  -webkit-transition: all,.6s;
  //  -moz-transition: all,.6s;
  //  -ms-transition: all,.6s;
  //  -o-transition: all,.6s;
  //  transition: all,.6s;
  //}
  //
  ////
  //.contacts_phone__call_btn .contacts_phone__work-hours {
  //  font-size: .6rem;
  //  line-height: .8rem;
  //  display: block;
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  color: #100F0F;
  //  z-index: 5;
  //
  //}

  .contacts_phone__work-hours {
    display: block;
    font-size: .8rem;
  }
  .contacts_phone__telnum {
    position: static;
  }
}

@include susy-breakpoint($desktop-size, $large ) {

  .contacts_phone__work-hours {
    display: block;
    font-size: .8rem;
  }
  .contacts_phone__telnum {
    position: static;
  }
  a.contacts_phone__call_btn  {
    display: block;
  }
  a.contacts_phone__call_btn .link_name {
    font-size: .9rem;
    border-bottom: 1px dashed grey;
    color: #948686;
  }



}

