$body-font-size: 1em !default;
$body-line-height: golden-ratio(1em, 1) !default;
$body-font-family: $helvetica !default;

@include font-face('BebasRegular', "/fonts/BebasRegular/BebasRegular");
@include font-face('BebasBold', "/fonts/BebasBold/BebasBold");


body {
  font: $body-font-size $body-font-family ;
  line-height: $body-line-height;
}

a {
  text-decoration: none;
}

ul {list-style-type: none;}

header{
  a, p, span {
    font-family: "BebasRegular";
  }
  strong {
    font-family: "BebasBold";
  }
}