/* line 1, ../../../../app/assets/src/sass/animations.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 4, ../../../../app/assets/src/sass/_animations.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 5, ../../../../app/assets/src/sass/_animations.scss */
.clearfix:after {
  clear: both;
}

/* line 7, ../../../../app/assets/src/sass/_animations.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/*body {*/
/*font-family: 'Lato', Calibri, Arial, sans-serif;*/
/*color: #fff;*/
/*background: #333;*/
/*overflow: hidden;*/
/*}*/
/* line 20, ../../../../app/assets/src/sass/_animations.scss */
.pt-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

/* line 29, ../../../../app/assets/src/sass/_animations.scss */
.pt-page {
  width: 100%;
  /*height: 100%;*/
  position: absolute;
  /*top: 0;*/
  left: 0;
  height: 100%;
  right: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 49, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-current, .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}

/* line 54, ../../../../app/assets/src/sass/_animations.scss */
.no-js body {
  overflow: auto;
}

/* line 58, ../../../../app/assets/src/sass/_animations.scss */
/*.pt-page-1 {*/
  /*z-index: 99;*/
  /*background: #fff;*/
/*}*/

/*/!* line 63, ../../../../app/assets/src/sass/_animations.scss *!/*/
/*.pt-page-2 {*/
/*}*/

/*.pt-trigger-container {*/
/*position: absolute;*/
/*width: 300px;*/
/*z-index: 999999;*/
/*left: 50%;*/
/*margin-top: 75px;*/
/*-webkit-transform: translateX(-50%);*/
/*-moz-transform: translateX(-50%);*/
/*-ms-transform: translateX(-50%);*/
/*transform: translateX(-50%);*/
/*}*/
/*.pt-trigger {*/
/*border: none;*/
/*font-size: 16px;*/
/*font-weight: 700;*/
/*margin: 10px 0 10px;*/
/*padding: 0 20px;*/
/*line-height: 40px;*/
/*height: 40px;*/
/*letter-spacing: 1px;*/
/*width: 100%;*/
/*cursor: pointer;*/
/*display: block;*/
/*font-family: Calibri;*/
/*box-shadow: 0 3px 0 rgba(0,0,0,0.3);*/
/*}*/
/* Page Styles */
/* line 97, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-ontop {
  z-index: 999;
}

/* line 101, ../../../../app/assets/src/sass/_animations.scss */
.pt-page h1 {
  position: absolute;
  font-weight: 300;
  font-size: 4.4em;
  line-height: 1;
  letter-spacing: 6px;
  margin: 0;
  top: 1%;
  width: 100%;
  text-align: center;
  word-spacing: -0.3em;
}

/*.pt-page-1 {*/
/*background: #0ac2d2;*/
/*}*/
/*.pt-page-2 {*/
/*background: #7bb7fa;*/
/*}*/
/*.pt-page-3 {*/
/*background: #60d7a9;*/
/*}*/
/*.pt-page-4 {*/
/*background: #fdc162;*/
/*}*/
/*.pt-page-5 {*/
/*background: #fd6a62;*/
/*}*/
/*.pt-page-6 {*/
/*background: #f68dbb;*/
/*}*/
/*No Animation Support Message Style*/
/* line 139, ../../../../app/assets/src/sass/_animations.scss */
.pt-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center;
}

/* line 151, ../../../../app/assets/src/sass/_animations.scss */
.pt-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

/* line 157, ../../../../app/assets/src/sass/_animations.scss */
.no-cssanimations .pt-message {
  display: block;
}

/* animation sets */
/* move from / to  */
/* line 186, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both;
}

/* line 191, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both;
}

/* line 196, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}

/* line 201, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

/* line 206, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  animation: moveToTop .6s ease both;
}

/* line 211, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}

/* line 216, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both;
}

/* line 221, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}

/* fade */
/* line 228, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-fade {
  -webkit-animation: fade .7s ease both;
  animation: fade .7s ease both;
}

/* move from / to and fade */
/* line 235, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToLeftFade {
  -webkit-animation: moveToLeftFade .7s ease both;
  animation: moveToLeftFade .7s ease both;
}

/* line 240, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromLeftFade {
  -webkit-animation: moveFromLeftFade .7s ease both;
  animation: moveFromLeftFade .7s ease both;
}

/* line 245, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToRightFade {
  -webkit-animation: moveToRightFade .7s ease both;
  animation: moveToRightFade .7s ease both;
}

/* line 250, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromRightFade {
  -webkit-animation: moveFromRightFade .7s ease both;
  animation: moveFromRightFade .7s ease both;
}

/* line 255, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToTopFade {
  -webkit-animation: moveToTopFade .7s ease both;
  animation: moveToTopFade .7s ease both;
}

/* line 260, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromTopFade {
  -webkit-animation: moveFromTopFade .7s ease both;
  animation: moveFromTopFade .7s ease both;
}

/* line 265, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToBottomFade {
  -webkit-animation: moveToBottomFade .7s ease both;
  animation: moveToBottomFade .7s ease both;
}

/* line 270, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveFromBottomFade {
  -webkit-animation: moveFromBottomFade .7s ease both;
  animation: moveFromBottomFade .7s ease both;
}

/* move to with different easing */
/* line 277, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToLeftEasing {
  -webkit-animation: moveToLeft .7s ease-in-out both;
  animation: moveToLeft .7s ease-in-out both;
}

/* line 281, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToRightEasing {
  -webkit-animation: moveToRight .7s ease-in-out both;
  animation: moveToRight .7s ease-in-out both;
}

/* line 285, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToTopEasing {
  -webkit-animation: moveToTop .7s ease-in-out both;
  animation: moveToTop .7s ease-in-out both;
}

/* line 289, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-moveToBottomEasing {
  -webkit-animation: moveToBottom .7s ease-in-out both;
  animation: moveToBottom .7s ease-in-out both;
}

/********************************* keyframes **************************************/
/* move from / to  */
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
/* fade */
@-webkit-keyframes fade {
  to {
    opacity: 0.3;
  }
}
@keyframes fade {
  to {
    opacity: 0.3;
  }
}
/* move from / to and fade */
@-webkit-keyframes moveToLeftFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveToLeftFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToRightFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveToRightFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToTopFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@keyframes moveToTopFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToBottomFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveToBottomFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
/* scale and fade */
/* line 441, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both;
}

/* line 446, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-scaleUp {
  -webkit-animation: scaleUp .7s ease both;
  animation: scaleUp .7s ease both;
}

/* line 451, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown .5s ease both;
  animation: scaleUpDown .5s ease both;
}

/* line 456, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-scaleDownUp {
  -webkit-animation: scaleDownUp .5s ease both;
  animation: scaleDownUp .5s ease both;
}

/* line 461, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-scaleDownCenter {
  -webkit-animation: scaleDownCenter .4s ease-in both;
  animation: scaleDownCenter .4s ease-in both;
}

/* line 466, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-scaleUpCenter {
  -webkit-animation: scaleUpCenter .4s ease-out both;
  animation: scaleUpCenter .4s ease-out both;
}

/********************************* keyframes **************************************/
/* scale and fade */
@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
  }
}
@keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@-webkit-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
  }
}
@keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
/* rotate sides first and scale */
/* line 525, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRightSideFirst {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateRightSideFirst .8s both ease-in;
  animation: rotateRightSideFirst .8s both ease-in;
}

/* line 531, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateLeftSideFirst {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateLeftSideFirst .8s both ease-in;
  animation: rotateLeftSideFirst .8s both ease-in;
}

/* line 537, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateTopSideFirst {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateTopSideFirst .8s both ease-in;
  animation: rotateTopSideFirst .8s both ease-in;
}

/* line 543, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateBottomSideFirst {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateBottomSideFirst .8s both ease-in;
  animation: rotateBottomSideFirst .8s both ease-in;
}

/* flip */
/* line 552, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipOutRight {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutRight .5s both ease-in;
  animation: flipOutRight .5s both ease-in;
}

/* line 558, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipInLeft {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInLeft .5s both ease-out;
  animation: flipInLeft .5s both ease-out;
}

/* line 564, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipOutLeft {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutLeft .5s both ease-in;
  animation: flipOutLeft .5s both ease-in;
}

/* line 570, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipInRight {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInRight .5s both ease-out;
  animation: flipInRight .5s both ease-out;
}

/* line 576, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipOutTop {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutTop .5s both ease-in;
  animation: flipOutTop .5s both ease-in;
}

/* line 582, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipInBottom {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInBottom .5s both ease-out;
  animation: flipInBottom .5s both ease-out;
}

/* line 588, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipOutBottom {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutBottom .5s both ease-in;
  animation: flipOutBottom .5s both ease-in;
}

/* line 594, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-flipInTop {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInTop .5s both ease-out;
  animation: flipInTop .5s both ease-out;
}

/* rotate fall */
/* line 603, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateFall {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  animation: rotateFall 1s both ease-in;
}

/* rotate newspaper */
/* line 611, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateOutNewspaper {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotateOutNewspaper .5s both ease-in;
  animation: rotateOutNewspaper .5s both ease-in;
}

/* line 617, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateInNewspaper {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotateInNewspaper .5s both ease-out;
  animation: rotateInNewspaper .5s both ease-out;
}

/* push */
/* line 625, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePushLeft {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotatePushLeft .8s both ease;
  animation: rotatePushLeft .8s both ease;
}

/* line 631, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePushRight {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotatePushRight .8s both ease;
  animation: rotatePushRight .8s both ease;
}

/* line 637, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePushTop {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotatePushTop .8s both ease;
  animation: rotatePushTop .8s both ease;
}

/* line 643, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePushBottom {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotatePushBottom .8s both ease;
  animation: rotatePushBottom .8s both ease;
}

/* pull */
/* line 651, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePullRight {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotatePullRight .5s both ease;
  animation: rotatePullRight .5s both ease;
}

/* line 657, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePullLeft {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotatePullLeft .5s both ease;
  animation: rotatePullLeft .5s both ease;
}

/* line 663, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePullTop {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotatePullTop .5s both ease;
  animation: rotatePullTop .5s both ease;
}

/* line 669, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotatePullBottom {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotatePullBottom .5s both ease;
  animation: rotatePullBottom .5s both ease;
}

/* fold */
/* line 677, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateFoldRight {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateFoldRight .7s both ease;
  animation: rotateFoldRight .7s both ease;
}

/* line 683, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateFoldLeft {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateFoldLeft .7s both ease;
  animation: rotateFoldLeft .7s both ease;
}

/* line 689, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateFoldTop {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateFoldTop .7s both ease;
  animation: rotateFoldTop .7s both ease;
}

/* line 695, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateFoldBottom {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateFoldBottom .7s both ease;
  animation: rotateFoldBottom .7s both ease;
}

/* unfold */
/* line 703, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateUnfoldLeft {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateUnfoldLeft .7s both ease;
  animation: rotateUnfoldLeft .7s both ease;
}

/* line 709, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateUnfoldRight {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateUnfoldRight .7s both ease;
  animation: rotateUnfoldRight .7s both ease;
}

/* line 715, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateUnfoldTop {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateUnfoldTop .7s both ease;
  animation: rotateUnfoldTop .7s both ease;
}

/* line 721, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateUnfoldBottom {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateUnfoldBottom .7s both ease;
  animation: rotateUnfoldBottom .7s both ease;
}

/* room walls */
/* line 729, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateRoomLeftOut .8s both ease;
  animation: rotateRoomLeftOut .8s both ease;
}

/* line 735, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateRoomLeftIn .8s both ease;
  animation: rotateRoomLeftIn .8s both ease;
}

/* line 741, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomRightOut {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateRoomRightOut .8s both ease;
  animation: rotateRoomRightOut .8s both ease;
}

/* line 747, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomRightIn {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateRoomRightIn .8s both ease;
  animation: rotateRoomRightIn .8s both ease;
}

/* line 753, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomTopOut {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateRoomTopOut .8s both ease;
  animation: rotateRoomTopOut .8s both ease;
}

/* line 759, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomTopIn {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateRoomTopIn .8s both ease;
  animation: rotateRoomTopIn .8s both ease;
}

/* line 765, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateRoomBottomOut .8s both ease;
  animation: rotateRoomBottomOut .8s both ease;
}

/* line 771, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateRoomBottomIn {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateRoomBottomIn .8s both ease;
  animation: rotateRoomBottomIn .8s both ease;
}

/* cube */
/* line 779, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCubeLeftOut .6s both ease-in;
  animation: rotateCubeLeftOut .6s both ease-in;
}

/* line 785, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCubeLeftIn .6s both ease-in;
  animation: rotateCubeLeftIn .6s both ease-in;
}

/* line 791, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeRightOut {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCubeRightOut .6s both ease-in;
  animation: rotateCubeRightOut .6s both ease-in;
}

/* line 797, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeRightIn {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCubeRightIn .6s both ease-in;
  animation: rotateCubeRightIn .6s both ease-in;
}

/* line 803, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeTopOut {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCubeTopOut .6s both ease-in;
  animation: rotateCubeTopOut .6s both ease-in;
}

/* line 809, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeTopIn {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCubeTopIn .6s both ease-in;
  animation: rotateCubeTopIn .6s both ease-in;
}

/* line 815, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCubeBottomOut .6s both ease-in;
  animation: rotateCubeBottomOut .6s both ease-in;
}

/* line 821, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCubeBottomIn {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCubeBottomIn .6s both ease-in;
  animation: rotateCubeBottomIn .6s both ease-in;
}

/* carousel */
/* line 829, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCarouselLeftOut .8s both ease;
  animation: rotateCarouselLeftOut .8s both ease;
}

/* line 835, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCarouselLeftIn .8s both ease;
  animation: rotateCarouselLeftIn .8s both ease;
}

/* line 841, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselRightOut {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCarouselRightOut .8s both ease;
  animation: rotateCarouselRightOut .8s both ease;
}

/* line 847, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselRightIn {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCarouselRightIn .8s both ease;
  animation: rotateCarouselRightIn .8s both ease;
}

/* line 853, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselTopOut {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCarouselTopOut .8s both ease;
  animation: rotateCarouselTopOut .8s both ease;
}

/* line 859, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselTopIn {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCarouselTopIn .8s both ease;
  animation: rotateCarouselTopIn .8s both ease;
}

/* line 865, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCarouselBottomOut .8s both ease;
  animation: rotateCarouselBottomOut .8s both ease;
}

/* line 871, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateCarouselBottomIn {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCarouselBottomIn .8s both ease;
  animation: rotateCarouselBottomIn .8s both ease;
}

/* sides */
/* line 879, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateSidesOut {
  -webkit-transform-origin: -50% 50%;
  transform-origin: -50% 50%;
  -webkit-animation: rotateSidesOut .5s both ease-in;
  animation: rotateSidesOut .5s both ease-in;
}

/* line 885, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateSidesIn {
  -webkit-transform-origin: 150% 50%;
  transform-origin: 150% 50%;
  -webkit-animation: rotateSidesIn .5s both ease-out;
  animation: rotateSidesIn .5s both ease-out;
}

/* slide */
/* line 893, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateSlideOut {
  -webkit-animation: rotateSlideOut 1s both ease;
  animation: rotateSlideOut 1s both ease;
}

/* line 897, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-rotateSlideIn {
  -webkit-animation: rotateSlideIn 1s both ease;
  animation: rotateSlideIn 1s both ease;
}

/********************************* keyframes **************************************/
/* rotate sides first and scale */
@-webkit-keyframes rotateRightSideFirst {
  40% {
    -webkit-transform: rotateY(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
@keyframes rotateRightSideFirst {
  40% {
    -webkit-transform: rotateY(15deg);
    transform: rotateY(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
@-webkit-keyframes rotateLeftSideFirst {
  40% {
    -webkit-transform: rotateY(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
@keyframes rotateLeftSideFirst {
  40% {
    -webkit-transform: rotateY(-15deg);
    transform: rotateY(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
@-webkit-keyframes rotateTopSideFirst {
  40% {
    -webkit-transform: rotateX(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
@keyframes rotateTopSideFirst {
  40% {
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
@-webkit-keyframes rotateBottomSideFirst {
  40% {
    -webkit-transform: rotateX(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
@keyframes rotateBottomSideFirst {
  40% {
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}
/* flip */
@-webkit-keyframes flipOutRight {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2;
  }
}
@keyframes flipOutRight {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flipInLeft {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2;
  }
}
@keyframes flipInLeft {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flipOutLeft {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2;
  }
}
@keyframes flipOutLeft {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flipInRight {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2;
  }
}
@keyframes flipInRight {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flipOutTop {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2;
  }
}
@keyframes flipOutTop {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flipInBottom {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2;
  }
}
@keyframes flipInBottom {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flipOutBottom {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2;
  }
}
@keyframes flipOutBottom {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flipInTop {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2;
  }
}
@keyframes flipInTop {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2;
  }
}
/* fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
    transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
    transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
    transform: translateY(100%) rotateZ(17deg);
  }
}
/* newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
@keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateInNewspaper {
  from {
    -webkit-transform: translateZ(-3000px) rotateZ(-360deg);
    opacity: 0;
  }
}
@keyframes rotateInNewspaper {
  from {
    -webkit-transform: translateZ(-3000px) rotateZ(-360deg);
    transform: translateZ(-3000px) rotateZ(-360deg);
    opacity: 0;
  }
}
/* push */
@-webkit-keyframes rotatePushLeft {
  to {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
  }
}
@keyframes rotatePushLeft {
  to {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
@-webkit-keyframes rotatePushRight {
  to {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
}
@keyframes rotatePushRight {
  to {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
}
@-webkit-keyframes rotatePushTop {
  to {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
  }
}
@keyframes rotatePushTop {
  to {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes rotatePushBottom {
  to {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
  }
}
@keyframes rotatePushBottom {
  to {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
/* pull */
@-webkit-keyframes rotatePullRight {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
}
@keyframes rotatePullRight {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
}
@-webkit-keyframes rotatePullLeft {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
  }
}
@keyframes rotatePullLeft {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
@-webkit-keyframes rotatePullTop {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
  }
}
@keyframes rotatePullTop {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes rotatePullBottom {
  from {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
  }
}
@keyframes rotatePullBottom {
  from {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
/* fold */
@-webkit-keyframes rotateFoldRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg);
  }
}
@keyframes rotateFoldRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
  }
}
@-webkit-keyframes rotateFoldLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
  }
}
@keyframes rotateFoldLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
  }
}
@-webkit-keyframes rotateFoldTop {
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg);
  }
}
@keyframes rotateFoldTop {
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg);
  }
}
@-webkit-keyframes rotateFoldBottom {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg);
  }
}
@keyframes rotateFoldBottom {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg);
  }
}
/* unfold */
@-webkit-keyframes rotateUnfoldLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
  }
}
@keyframes rotateUnfoldLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
  }
}
@-webkit-keyframes rotateUnfoldRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg);
  }
}
@keyframes rotateUnfoldRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
  }
}
@-webkit-keyframes rotateUnfoldTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg);
  }
}
@keyframes rotateUnfoldTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg);
  }
}
@-webkit-keyframes rotateUnfoldBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg);
  }
}
@keyframes rotateUnfoldBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg);
  }
}
/* room walls */
@-webkit-keyframes rotateRoomLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg);
  }
}
@keyframes rotateRoomLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg);
  }
}
@-webkit-keyframes rotateRoomLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg);
  }
}
@keyframes rotateRoomLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg);
    transform: translateX(100%) rotateY(-90deg);
  }
}
@-webkit-keyframes rotateRoomRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg);
  }
}
@keyframes rotateRoomRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg);
    transform: translateX(100%) rotateY(-90deg);
  }
}
@-webkit-keyframes rotateRoomRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg);
  }
}
@keyframes rotateRoomRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg);
  }
}
@-webkit-keyframes rotateRoomTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
  }
}
@keyframes rotateRoomTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
    transform: translateY(-100%) rotateX(-90deg);
  }
}
@-webkit-keyframes rotateRoomTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
  }
}
@keyframes rotateRoomTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);
  }
}
@-webkit-keyframes rotateRoomBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
  }
}
@keyframes rotateRoomBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);
  }
}
@-webkit-keyframes rotateRoomBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
  }
}
@keyframes rotateRoomBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
    transform: translateY(-100%) rotateX(-90deg);
  }
}
/* cube */
@-webkit-keyframes rotateCubeLeftOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
  }
}
@keyframes rotateCubeLeftOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
    transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
  }
}
@-webkit-keyframes rotateCubeLeftIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
  }
}
@keyframes rotateCubeLeftIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
    transform: translateX(50%) translateZ(-200px) rotateY(45deg);
  }
}
@-webkit-keyframes rotateCubeRightOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg);
  }
}
@keyframes rotateCubeRightOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
    transform: translateX(50%) translateZ(-200px) rotateY(45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
  }
}
@-webkit-keyframes rotateCubeRightIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
  }
}
@keyframes rotateCubeRightIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
    transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
  }
}
@-webkit-keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg);
  }
}
@keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg);
  }
}
@-webkit-keyframes rotateCubeTopIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
  }
}
@keyframes rotateCubeTopIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
  }
}
@-webkit-keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg);
  }
}
@keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
  }
  100% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg);
  }
}
@-webkit-keyframes rotateCubeBottomIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
  }
}
@keyframes rotateCubeBottomIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
  }
}
/* carousel */
@-webkit-keyframes rotateCarouselLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-150%) scale(0.4) rotateY(-65deg);
  }
}
@keyframes rotateCarouselLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-150%) scale(0.4) rotateY(-65deg);
    transform: translateX(-150%) scale(0.4) rotateY(-65deg);
  }
}
@-webkit-keyframes rotateCarouselLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
  }
}
@keyframes rotateCarouselLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
    transform: translateX(200%) scale(0.4) rotateY(65deg);
  }
}
@-webkit-keyframes rotateCarouselRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
  }
}
@keyframes rotateCarouselRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
    transform: translateX(200%) scale(0.4) rotateY(65deg);
  }
}
@-webkit-keyframes rotateCarouselRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-200%) scale(0.4) rotateY(-65deg);
  }
}
@keyframes rotateCarouselRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-200%) scale(0.4) rotateY(-65deg);
    transform: translateX(-200%) scale(0.4) rotateY(-65deg);
  }
}
@-webkit-keyframes rotateCarouselTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
  }
}
@keyframes rotateCarouselTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
    transform: translateY(-200%) scale(0.4) rotateX(65deg);
  }
}
@-webkit-keyframes rotateCarouselTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
  }
}
@keyframes rotateCarouselTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
    transform: translateY(200%) scale(0.4) rotateX(-65deg);
  }
}
@-webkit-keyframes rotateCarouselBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
  }
}
@keyframes rotateCarouselBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
    transform: translateY(200%) scale(0.4) rotateX(-65deg);
  }
}
@-webkit-keyframes rotateCarouselBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
  }
}
@keyframes rotateCarouselBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
    transform: translateY(-200%) scale(0.4) rotateX(65deg);
  }
}
/* sides */
@-webkit-keyframes rotateSidesOut {
  to {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(90deg);
  }
}
@keyframes rotateSidesOut {
  to {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(90deg);
    transform: translateZ(-500px) rotateY(90deg);
  }
}
@-webkit-keyframes rotateSidesIn {
  from {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(-90deg);
  }
}
@keyframes rotateSidesIn {
  from {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(-90deg);
    transform: translateZ(-500px) rotateY(-90deg);
  }
}
/* slide */
@-webkit-keyframes rotateSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
}
@keyframes rotateSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }
}
@-webkit-keyframes rotateSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }
}
@keyframes rotateSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
}
/* animation delay classes */
/* line 1447, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay100 {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

/* line 1451, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay180 {
  -webkit-animation-delay: .180s;
  animation-delay: .180s;
}

/* line 1455, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay200 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

/* line 1459, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay300 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

/* line 1463, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay400 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

/* line 1467, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay500 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

/* line 1471, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay700 {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

/* line 1475, ../../../../app/assets/src/sass/_animations.scss */
.pt-page-delay1000 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
