
  footer {

    background-color: #293a4b;

    nav {
      padding: 0px 0;
    }
    ul.main-menu {
      display: table;
      width: 100%;
      text-align: center;
      margin: 0;
      list-style-type: none;
      li {
        display: inline-block;
        //padding: 10px;
        height: 50px;
        width: 40%;
        margin: 0 5px;
        background: #c0392b;
        max-width: 225px;
        min-width: 100px;

        &:hover {
          padding: 0 0 5px 0 ;
        }

      }
      a {
        display: block;
        transform: translateY(50%);
        text-decoration: none;
        border: 0;
        font-family: BebasBold;
        font-size: 1.3rem;
        color: #fff;
      }
  }
    .footer-info {
      font-size: 65%;
      color: rgba(255, 255, 255, 0.8);
      p {margin: 0}
      a {
        color: rgba(255, 255, 255, 0.8);
        border-bottom: 1px dashed rgba(255, 255, 255, 0.6);

      }

    }


  .created-by {
    text-align: right;font-style: italic;
  }
  }
