$metka_icon:  url('/images/icons_svg/metka.svg');
$phone_icon: url('/images/icons_svg/tel.svg');


.metka-icon{background-image: $metka_icon;}
.phone-icon{background-image: $phone_icon;}

.h_icon {
  display: block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 35px;
  height: 45px;
  width: 40px;

 }

header {
  //-webkit-box-shadow: 0 1px 0px -0px rgba(119, 119, 119, 0.5);
  //-moz-box-shadow: 0 1px 0px -0px rgba(119, 119, 119, 0.5);
  //box-shadow: 0 1px 0px -0px rgba(119, 119, 119, 0.5);
  z-index: 999;
  //padding:0 1rem;

}

.page.contacts .logo {
  background-image: url("/images/header/logo.svg");
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: 65px;
  height: 100%;
  position: relative;
  line-height: 100%;

}
.page.price .logo {
  background-image: url("/images/header/logo.svg");
  background-repeat: no-repeat;
  background-position: 0% 0px;
  background-size: 60px;
  height: 100%;
  position: relative;
  line-height: 100%;

}
.logo a {
  display: block;
  height: 100%;
  
  &:hover {border: 0;
  }
  &:visited {
    //color: #373737;
    }
}

  .logo:hover {

    transition: all,.2s;
    a {
      color: #50687d
    }
  }

.logo .site-name strong {display: block;}
.logo .site-name {
  font-size: 1rem;
  display: block;


  &:hover {
    //;
  }

}

.logo a {display: block; }

header a {

  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
  border-bottom: 1px dashed indianred;

  color: #373737;
  //@include transition (border 0.2s ease-in-out);
  &:hover {
    border-bottom: 1px dashed indianred;
  }

}

.address, .phone {

  white-space: nowrap;

}


//
//header address {}
//header .address {white-space: nowrap;}
//header .address a {font-size: 1.3em;}
//
//header .phone {}
//header .phone {  white-space: nowrap;}
//
////.call_btn {margin: 10px;}
 a.call_btn {
  border: 1px dashed indianred;
  border-radius: 5px;
  padding: 3px 12px 0;
  /* margin: 17px; */
  color: indianred;
  &:hover {

    color: #cd3d58;
    //border-bottom: none;
    text-decoration: none;
  }
}

////header .phone .call_btn {display: block;}
//
////
////
////
////.site-name strong {
////  font-size: 1.6em;
////  line-height: 1.25em;
////}
////.site-name span {
////  line-height: .4;
////  font-size: 1.3em;
////  display: block;
////}
////.telephone {
////  font-size: 1.4em;
////}
////
////
////
////@include media($mobile) {
////
////  .site-name strong {
////    font-size: 1.6em;
////  }
////  .site-name span {
////    font-size: 1.2em;
////    display: block;
////  }
////}
////
////
////
////@include media($tablet) {
////
////  .site-name strong {
////    font-size: 1.6em;
////    line-height: 1em;
////  }
////  .site-name span {
////    line-height: .4;
////    font-size: 1.2em;
////    display: block;
////  }
////
////}
////
////
////@include media($desktop) {
////
////  .site-name strong {
////    font-size: 2em;
////    line-height: 1.25em;
////  }
////  .site-name span {
////    line-height: .4;
////    font-size: 1.4em;
////    display: block;
////  }
////}
//
////header {
////  color: #373737;
////  text-align: center;
////  //border-bottom: 0 none;
////  //box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.46);
////
////  a {
////    display: block;
////  }
////
////  .logo a {border: 0;}
////
////  p {
////    margin: 0;
////  }
////
////  .sitename strong {
////    display: block;
////    font-size: em(24);
////    line-height: 1.25em;
////  }
////
////
////  .site-name span {
////    line-height: .4;
////    display: block;
////
////  }
////
////}
////  .site-name{
////    a {border: 0;}
////  }
////
////
////
////.address, .address a {
////
////}
//
//
////  .city-name {
////    color: #373737;
////    display: inline;
////    vertical-align: bottom;
////    font: 1.3em BebasBold;
////
////  }
////
////  .street {
////      display: inline;
////      color: #333333;
////      border-bottom: 1px dashed #293a4b;
////  }
////
////
////  .phone {
////  }
////    span {
////      display: block;
////    }
////
////
////    .call_btn a {
////      display: inline-block;
////
////    }
////
//
////
////     header a {
////        font-size: 1.3em;
////        display: inline-block;
////        color: crimson;
////        border-bottom: 1px dashed #293a4b;
////      }
////
////
////
////  .phone:before{
////    content: "";
////
////    //background-size: 12%;
////  }
//
