header {
  color: #373737;
  text-align: center;

  a {
    display: block;
    border: 0;
  }
  p {
    margin: 0;
  }

  .sitename strong {
    display: block;
    font-size: em(24);
    line-height: 1.25em;

  }
  .site-name span {
    line-height: .4;
    display: block;

  }

}



  .site-name{
    a {border: 0;}
  }



.address {
}

  .city-name {
    color: #373737;
    display: inline;
    vertical-align: bottom;
    font: 1.3em BebasBold;
}

  .street {
      display: inline;
      font-size: 1.1em;
      color: #333333;
      line-height: 1.2;
      border-bottom: 1px dashed #293a4b;
  }


  .phone {
    line-height: .4;
    font-size: 1.2em;
    span {
      display: block;
    }

    .telephone {
      font-size: 1.2em;
      margin-right: 5%;
    }
    .call_btn {
      margin-right: 5%;
      font-size: .8em;
    }


    .call_btn a:before {
      content: "#";
        background-image: url('/images/header/metka.png');
        background-position: 15px;
        background-repeat: no-repeat;
        width:20px;
        height:20px;
        position: absolute;
        left:0;
      }

      a {

        display: inline-block;
        font-size:1em;
        color: crimson;
        line-height: 1;
        border-bottom: 1px dashed #293a4b;
      }

  }

  .phone:before{
    background-image:url('/images/header/phone.png');
    background-position: 15px;
    background-repeat: no-repeat;
    //background-size: 12%;
  }

