
@import "breakpoint";
@import "susy";



///* HEADER PAGE-PRICE */
//
//

@mixin vertical-center() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

@include susy-breakpoint($mobile-size, $mobile) {

  header {
    height: 80px;
    background: rgba(255, 0, 0, 0);
    position: relative;
  }

  .page.price header .wrap {
    @include container;
    //padding: 0 1em ;
    position: relative;
    height: 80px;

    .logo {
      @include span(2);
      height: 100%;
      text-align: center;
      position: relative;
      top:50%;
      transform: translateY(-30%);
    }

    a.home {
      position: relative;
      left: 50px;
      top: 25%;
      line-height: 20px;
      @include span(1 of 2);

      border: none;
    }
    .site-name {
      top: 55%;
      left: 60%;
    }

    .contacts {

      height: 100%;
      @include span(4);
      position: relative;
      text-align: right;
    }

    .address {
      @include span(4 of 4);
      text-align: right;
    }

    .address a {
      display: block;
    }

    .phone {
      @include span(4 of 4);
      text-align: right;
    }



    .h_icon {
      float: left;
      background-size: 27px;
    }
  }

}



@include susy-breakpoint($tablet-size, $tablet ) {

  header {
    height: 80px;
    background: rgba(255, 0, 0, 0);
    position: relative;
    padding: 0 5%;
  }
  .page.price header .wrap {
    @include container();
    position: relative;
    height: 60px;

    .logo {
      @include span(2);
      height: 100%;
      min-width: 70px;
      position: relative;
      top:50%;
      transform: translateY(-30%);
    }

    a.home {
      position: relative;
      left: 50px;
      top:25%;
      line-height: 20px;

      border: none;
    }
    .site-name {
      top: 55%;
      left: 60%;
    }

    .contacts {

      height: 100%;
      @include span(last 10);
      position: relative;
      text-align: right;
      top:5%;
    }

    .address {
      @include span( 4 of 10);
      @include push(1);
      //@include vertical-center;
      top:55%;
      line-height: 1.6rem;
    }
    .phone {
      @include span(last 4 of 10) ;

      //@include vertical-center;
      top:55%;
      line-height: 1.6rem;
    }

    .h_icon {
      float: none;
      margin: 0 auto;
      height:35px;
      background-size: 30px;
    }
  }

}


@include susy-breakpoint($desktop-size, $large ) {

  header {
    height: 80px;
    background: rgba(255, 0, 0, 0);
  }
  .page.price header .wrap {
    @include container;
    position: relative;
    height: 60px;
    padding: 10px 0;

    .logo {
      @include span(2);
      height: 100%;
      min-width: 70px;
      max-width: 80px;
      position: relative;

    }

    a.home {
      border: none;
    }
    .site-name {
      position: relative;
      top: 25%;
      left: 55px;

    }

    .contacts {

      height: 100%;
      @include span(last 10);
      position: relative;


    }

    .address {

      @include span(first 5 of 10);
      @include vertical-center;
      @include prefix(2);

      top:55%;
      line-height: 2.6rem;

    }
    .phone {
      @include vertical-center;
      top:55%;
      @include span(last 5 of 10);
      @include prefix(2);

      line-height: 2.6rem;

      left:50%;
    }

    .h_icon {float: left;}
  }

}

//
////
////
////

//    @include susy-breakpoint($tablet-size, 8) {
////      @include span (3 of 8 last);
////      text-align: center;
////    }
////  }
////
////  .logo {
////    background-size: 100px;
////    background-position: 0 -10px;
////    height: 100%;
////  }
////  .site-name {
////    position: absolute;
////    bottom: 10px;
////    left: 0;
////    right:0;
////    margin: auto;
////
////    text-align: center;
////
////    @include breakpoint($tablet-size) {
////
////      top: 25%;
////      position: relative;
////      left: 70px;
////
////    }
////
////
////  }
////  .address,
////  .phone {
////    margin: 0px 0;
////  }
////
//
///*   .address > strong,
//  .address > span,
//  .address > i,
//  .phone > i,
//  .phone > span,
//  .phone > strong {
//    float: left;
//    display: inline-block;
//  } */
//
//
////}
//
////@mixin centerer_block($position-margin) {
////   $with_margin = @include span($position-margin);
////    left: $with_margin;
////}
////
////
////
//@include border-box-sizing();
//
//
//
//
//
//@mixin centerer{
//  position: absolute;
//  top: 50%;
//  transform: translate(-50%, -50%);
//}
//
//
//

//
//      .page.price header .wrap  {@include span(4);}
//    }
//
//
//@include susy-breakpoint($tablet-size, 12 show) {
//
//  .page.price header .wrap {
//    @include container();
//    position: relative;
//  }
//
//
//  .page.price header {
//
//    height: 80px;
//
//
//    .logo {
//      @include span(1);
//      text-align: center;
//    }
//    a.home {
//      left: span(1 at 2);
//
//    }
//
//    .contacts {
//      height: 100%;
//
//        @include span(last 10);
//    }
//
//    .address {
//      //@include span(3);
//      //@include centerer;
//      @include span(5 of 10);
//    }
//
//    .phone {
//      //@include centerer;
//      @include span(last 5 of 10);
//    }
//
//    .h_icon {
//      float: left;
//    }
//
//  }
//
//}
