  .price-menu {
    background-color: #34495e;
    height: 120px;
  }

  ul.price-nav {

    height: 100%;
    list-style-type: none;


  }

  ul.price-nav li {

    text-align: center;
    height: 120px;
    width: 16%;
    padding-top: 12px;

    &:hover {
      background: palevioletred;
    }

  }


  ul.price-nav li input[type=radio] {
    display:none;
  }


  ul.price-nav li a {
    height: 100%;
    width: 100%;
    display: inline-block;
    color:white;
    border-bottom:1px dashed #ffffff;

  }



  ul.price-nav i {
    background-position: 50% 50%;
    background-size: 50%;

    @include breakpoint($tablet-size) {

      background-size: 80%;

    }
  @include breakpoint($desktop-size) {

      background-size: 90%;

    }

    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    left: auto;
    right: auto;

    margin: 0 auto;
    display: block;
    text-align: center;
  }


.icon-to    {background-image: url("/images/icons/menu-price/1.svg");}
.icon-remont{background-image: url("/images/icons/menu-price/2.svg");}
.icon-custom{background-image: url("/images/icons/menu-price/3.svg");}
.icon-mount {background-image: url("/images/icons/menu-price/4.svg"); }
.icon-wash  {background-image: url("/images/icons/menu-price/5.svg");}
.icon-paint {background-image: url("/images/icons/menu-price/6.svg");}

