  .price-menu {
    background-color: #34495e;
    height: 120px;
  }

  ul.price-nav {

    height: 100%;
    list-style-type: none;


  }

  ul.price-nav li {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    height: 120px;
    width: 15%;

    padding: 10px 15px;
    &:hover {
      background: palevioletred;
    }

  }

  ul.price-nav li a {
    height: 100%;
    width: 100%;
    display: inline-block;
    color:white;
    border-bottom:1px dashed #ffffff;
  }

  ul.price-nav i {
    background-image: url("/images/icons/menu-price/icons_sprite.png");
    height: 80px;
    width: 70px;
    left: auto;
    right: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

.icon-to    {background-position: 0px 0;}
.icon-remont{background-position: -205px  0;}
.icon-custom{background-position: -420px 0;}
.icon-mount {background-position: -620px 0; }
.icon-wash  {background-position: -820px 0;}
.icon-paint {background-position: -1025px 0;}

