  .price-menu {
    background-color: #34495e;
    height: 140px;
  }

  ul.price-nav {
    display: table;
    padding: 15px;
    margin: 0 auto;
    height: 100%;
    list-style-type: none;


  }

  ul.price-nav li {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    height: 120px;
    width: 15%;

    &:hover {
      background: palevioletred;
    }

  }

  ul.price-nav li a {
    height: 100%;
    width: 100%;
    display: inline-block;
    color:white;
    border-bottom:1px dashed #ffffff;
  }

  ul.price-nav i {
    background-image: url("/images/icons/menu-price/icons_sprite.png");
    height: 80px;
    width: 100%;
    left: auto;
    right: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

.icon-to    {background-position: 25px 0;}
.icon-remont{background-position: -180px  0;}
.icon-custom{background-position: -392px 0;}
.icon-mount {background-position: -595px 0; }
.icon-wash  {background-position: -800px 0;}
.icon-paint {background-position: -1007px 0;}

