@import '../../layouts/blocks/header/logo';
@import '../../layouts/blocks/header/phone';
@import '../../layouts/blocks/header/address';

//// /* icons */ ////

$metka_icon: inline-image('icons_svg/metka.svg');
$phone_icon: inline-image('icons_svg/tel.svg');

.metka-icon{background-image: $metka_icon;}
.phone-icon{background-image: $phone_icon; padding: 0 5px;}


header {
  height: 127px;
  width: 100%;
  color:#373737;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.06);
}
.header_inner {
  @include container;
  position: relative;
}

.social_vk {
  position: absolute;
  top: -7px;
  right: 80px;
  width: 58px;
  display: block;
  box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
  z-index: 999;
  transition: .5s;

  &:hover {
    transition: .5s;
    box-shadow: 0px 4px 9px 2px rgba(52, 73, 94, 0.5);

  }
  //
}


.icon {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
}

@include susy-breakpoint($mobile-size, $mobile) {


  header {
  }
  //header.mobile .phone-icon {
  //  position: relative;
  //  top: 0px;
  //  background-size: 32px;
  //  background-position: 50% 50%;
  //}
  .phone-icon {
    position: absolute;
    display: inline-block;
    float: left;
    left: -38px;
    top: 0px;
    background-size: 28px;
  }

  .metka-icon {
    position: absolute;
    top: 0px;
    left: -38px;
    background-size: 28px;
  }

  .social_vk {
    position: absolute;
    top: 57px;
    right: 0px;
    width: 33px;
    display: block;
    box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
    z-index: 999;
    transition: .5s;

    &:hover {
      transition: .5s;
      box-shadow: 0px 4px 9px 2px rgba(52, 73, 94, 0.5);

    }
    //
  }

  .header_logo{
    position: absolute;
    left: 7%;
    text-align: center;
    z-index: 2;
    float: left;
    width: 60px;
    top: 5px;
  }
  .header_logo img {
    //height: 80px;
  }
  .header_contacts {
    @include span(52%);
    float: right;
  }
  .header_contacts__address {
    @include span(last 6 of 6);
    text-align: left;
  }
  .header_contacts__phone,  {
    @include span(last 6 of 6);
    text-align: left;
  }
  .header_contacts__address {
    position: relative;
    //@include margin-leader;
    line-height: 1rem;

  }
  .header_contacts__phone {
    position: relative;
    //@include margin-leader();
    line-height: 1rem;
  }

}


@include susy-breakpoint($tablet-size, $tablet ) {

  .icon {
    display: block;
    float: none;
    margin: 0 auto;
    height:40px;
    background-size: 35px;
  }


  .phone-icon {
    background-size: 32px;
    background-position: 50% 50%;
  }
  //header.mobile .phone-icon {
  //  position: relative;
  //  top: 20px;
  //  background-size: 32px;
  //  background-position: 50% 50%;
  //}

  .header_logo{
    position: relative;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 2;
    @include span(2);
    float: left;
  }
  .social_vk {
    position: absolute;
    top: -7px;
    right: 14px;
    width: 46px;
    display: block;
    box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
    z-index: 999;
    transition: .5s;
  }


  .header_contacts {
    @include span(8)
  }
  .header_contacts__address {
    @include span(4 of 8);
  }
  .header_contacts__phone,  {
    @include span(last 4 of 8);
  }

  .header_contacts__address,
  .header_contacts__phone, {
    text-align: center;
    height: 100%;
    position: relative;
  }


  .header_contacts__phone___inner > * {
    display: block;
  }

  .header_contacts__address___inner,
  .header_contacts__phone___inner{
    position: absolute;
    margin: auto;
    width: 100%;
  }

}

