//$micro-size: em(200);
$mobile-size:em(320);
$tablet-size:500px;
$desktop-size:em(960);
$largedesktop-size:em(1050);


// Bourbon Neat Breakpoints
//$micro : new-breakpoint(max-width $micro-size 1);
$mobile: new-breakpoint(min-width $mobile-size 12);
$tablet: new-breakpoint(min-width $tablet-size 12);
$desktop: new-breakpoint(min-width $largedesktop-size 12);
//$largedesktop: new-breakpoint(min-width $largedesktop-size 12);