/*GRID*/


@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}



html{
  height: 100%;
}
body {
 height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


header, main, footer nav{

  @include container;

}


header {
  height: 120px;
  z-index: 5000;
}


main {

  @include calc(height, '100% - 120px');


}

#map {
  width: 100%;
  @include calc(height, '100% - 120px');
}


#slogan {
  position: absolute;
  bottom: 120px;
  left: 0%;
  right: 0%;
  margin: auto;
  text-align: center;
}






footer {
  height: 120px;
}

.main-menu {
  height: 80px;
}


/* STYLE */




///* icons */
//
//$metka_icon:  url('/images/icons_svg/metka.svg');
//$phone_icon: url('/images/icons_svg/tel.svg');
//
//.metka-icon{background-image: $metka_icon;}
//.phone-icon{background-image: $phone_icon;padding: 0 5px;}
//
//.h_icon {
//  display: block;
//  background-position: 50%;
//  background-repeat: no-repeat;
//  background-size: 35px;
//  height: 40px;
//  width: 40px;
//}
//
//.logo a {
//  display: block;
//  height: 100%;
//
//  &:hover {border: 0;
//  }
//  &:visited {
//    //color: #373737;
//  }
//}
//
//a.call_btn {
//  border: 1px dashed indianred;
//  border-radius: 5px;
//  padding: 3px 12px 0;
//  /* margin: 17px; */
//  color: indianred;
//  &:hover {
//
//    color: #cd3d58;
//    //border-bottom: none;
//    text-decoration: none;
//  }
//}
//
//header {
//}
//
//main {
//
//}
//
//nav {
//
//}
//
//footer {
//
//}
//
//
/* CONTACTS PAGE */

.page.contacts header {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.06);
}
//
//
//
//.page.contacts .logo {
//  background-image: url("/images/header/logo.svg");
//  background-repeat: no-repeat;
//  background-position: 50% 0px;
//  background-size: 64px;
//  height: 100%;
//  position: relative;
//  line-height: 100%;
//
//}
//
//
//
//
///* PRICE PAGE */
//
//
//
//.page.price .logo {
//  background-image: url("/images/header/logo.svg");
//  background-repeat: no-repeat;
//  background-position: 0% 50%;
//  background-size:50px;
//  height: 100%;
//  position: relative;
//  line-height: 100%;
//}

#slogan {

  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  font-family: 'PT Sans Narrow';

}


#map {

  background-image: url("/images/header/logo.svg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: 10%;

}

footer {

  background-color: #293a4b;

}

.main-menu {
  display: table;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    box-sizing: border-box;

    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .06);

    height: 50px;
    width: 50%;
    margin: 0px;
    padding: 14px 0;

    background: #c0392b;
    //max-width: 225px;
    //min-width: 100px;

    &:hover {
      padding: 0 0 5px 0;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .06);

    }

    a {
      width: 100%;
      height: 100%;
      display: inline-block;
      font-family: BebasBold;
      font-size: 1.3rem;
      line-height: 1.4rem;
      color: #fff;
    }

  }
}

.copyright{


}
.created-by {
  text-align: right;font-style: italic;
}



.main-menu li.active {
  height: 75px;
}



