

//default

header, footer, main {
  @include outer-container();
}

 header > div {
    margin: 20px 0;
    text-align: center;
  }

 header .logo {@include span-columns(12); }
 header .contacts {@include span-columns(12);}


 //mobile

 @include media($mobile) {

   header > div {
      margin: 0;
   }

   header .logo {@include span-columns(2);}
   header .contacts {
     @include span-columns(10);
      text-align: right;
   }
   header .phone, .address {
     @include span-columns(10 of 10);
     text-align: right;
   }

   header .phone-pic, header .metka-pic {
     display: none;
   }

  }

  @include media($tablet) {

    header > div {
      margin: 0;
    }

    header .logo {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    header .contacts {
      @include span-columns(12);
    }
    header .phone {
      text-align: center;
      @include span-columns(6);

    }
    header .address {
      text-align: center;
      @include span-columns(6);

    }
    header .address > strong {display: block;}
    header .address > a {display: inline-block;}
    header .phone-pic, header .metka-pic {
      display: block;
    }
  }

main {
  //height: 100px;
}


.footer-info{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}
.footer-info > div {
  @include span-columns(6);
}

  .footer-info .copyright {
    text-align: left;

  }

  .footer-info .created-by {
    text-align: right;

  }



footer {
  position: fixed;
  bottom: 0;
  height: 115px;
  width: 100%;


  nav {
    display: block;
    font-size: .8em;
  }

   ul .main-menu li {

    display: block;
    width: 46%;
    padding: 10px 0;
  }



}

//@include media($mobile) {
//  header > div {margin: 0;}
//  header {
//
//    @include outer-container();
//
//    > div {
//      margin: 0;
//      text-align: center;
//    }
//
//    .address, .phone,  {
//      text-align: right;
//      //margin: .4em 5% 0 0;
//    }
//    .metka-pic, .phone-pic {
//      display: none;
//    }
//  }
//  header {
//    height: 120px;
//
//    .logo {@include span-columns(2); }
//    .contacts { }
//    .telephone {
//      font-size: 2em;
//      padding-top: 10px;
//      line-height: 1;
//    }
//    .call_btn a { line-height: 1;}
//
//
//
//  }
//
//  main {
//    @include position(absolute, 120px 0 115px 0);
//    width: 100%;
//  }
//
//
//
//  header {
//    .logo {
//      @include span-columns(3);
//    }
//    .contacts {
//      .address {
//        @include span-columns(5);
//        @include omega();
//      }
//      .phone {
//        @include span-columns(5);
//      }
//    }
//  }
//  main {
//    #map {
//      height: 100%;
//    }
//  }
//
//  footer .main-menu {
//    display: block;
//    font-size: 1.2em;
//  }
//
//  footer ul .main-menu li {
//
//    display: inline-block;
//    width: 48%;
//  }
//
//  footer {
//    .info {
//      font-size: em(10);
//      color: #ffffff;
//    }
//    .info a {
//      color: #ffffff;
//    }
//  }
//  footer {
//    text-align: center;
//    position: absolute;
//    bottom: 0;
//    height: 115px;
//    width: 100%;
//  }
//
//
//
//}

//
//@include media($tablet) {
//
//  header {
//    position: relative;
//    width: 90%;
//    margin: 0 auto;
//    height: 140px;
//
//    .logo {
//      position:absolute;
//      left:50%;
//      width: 30%;
//      margin-left: -15% ;
//    }
//    .contacts {
//      margin: 0;
//      padding: 0;
//    }
//    .address {
//        font-size: 1.3em;
//        position: absolute;
//        left:0;
//        text-align: center;
//        width: 30%;
//
//    }
//    .city-name {display: block;}
//    .street {line-height: 1;}
//
//    .phone {
//      position: absolute;
//      right: 0;
//      text-align: center;
//      width: 30%;
//    }
//    .telephone {
//      padding: 0%;
//      font-size: 1.6em;
//     }
//
//      .call_btn { line-height: 1;}
//
//
//  }
//}

//
//@include media($desktop) {
//
//  header {
//    position: relative;
//
//    > div {
//      margin:  0;
//      text-align: center;
//    }
//    .contacts {position: relative;}
//
//    .phone, .address{
//
//      text-align: center;
//      margin: 0;
//
//    }
//
//    .logo {
//      @include span-columns(4);
//    }
//    .contacts {
//      margin: 0;
//      padding: 0;
//    }
//    .address {
//      font-size: 1.3em;
//      @include span-columns(4);
//      position: absolute;
//      left: 10%;
//      top: 5%;
//    }
//    .city-name {display: block;}
//    .street {line-height: 1;}
//
//    .phone {
//      @include span-columns(4);
//      position: absolute;
//      top: 5%;
//      right: 10%;
//    }
//    .telephone {
//      padding: 0%;
//      font-size: 1.6em;
//
//    }
//
//    .call_btn { line-height: 1;}
//
//
//  }
//}
