
@import "layouts/layouts";
@import "layouts/partials";
@import "style/typography";




header > div {
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}

body, img {
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}

nav li {
  -webkit-transition: all,.6s;
  -moz-transition: all,.6s;
  -ms-transition: all,.6s;
  -o-transition: all,.6s;
  transition: all,.6s;
}
