%footer

	%nav.main-menu
		%ul.pt-trigger-container
			%li.active
				%a.pt-trigger{href: '#contacts', "data-animation" => "2", "data-goto" => "1" } Контакты
			%li
				%a.pt-trigger{href: '#price', "data-animation" => "1", "data-goto" => "2"} Цены

	.footer-info
		.copyright
			%p
				Copyright &copy;
				= Time.now.year
				Maslov Service
		.created-by
			%p
				created by
				%a{href: '#exsisto' }  Exsisto
