%footer
	.wrap

		%nav
			%ul.main-menu
				%li
					=link_to 'Контакты', url(:page, :contacts), remote: true
				%li
					=link_to 'Цены', url(:page, :price) , remote: true

		.footer-info
			.copyright
				%p
					©
					= Time.now.year
					Maslov Service
			.created-by
				%p
					created by
					%a{href: '#exsisto' }  Exsisto
