%header
	.header_inner{:itemscope => true, :itemtype =>'http://schema.org/LocalBusiness'}
		.header_logo
			%a.home.pt-trigger{:itemprop => 'url', href:'http://dev-maslov.herokuapp.com/', "data-animation" => "2", "data-goto" => "1" }
				%img{:itemprop => 'logo', :src => '/images/header/logo.svg'}
				%span.header_logo__sitename{:itemprop => 'name'}
					%strong.sitename_name__strong Маслов
					%span.sitenane_name сервис
		%meta{:itemscope => true, :itemprop => 'hasMap', :itemtype => 'http://schema.org/Map', :itemref => 'to-route'}
		.header_contacts
			.header_contacts__address{:itemprop => 'address', :itemscope => true, :itemtype => 'http://schema.org/PostalAddress'}
				.header_contacts__address___inner
					%i.icon.metka-icon
					%span.contacts_address__city-name{:itemprop => 'addressRegion'} Москва,
					%span.contacts_address__street{:itemprop => 'streetAddress'} 1-я Фрезерная д.2 к.1
					%br
					%a#to-route.contacts_address__to-route{:itemprop => 'url',
						href: 'https://maps.yandex.ru/21621/reutov/?ol=biz&ll=37.739105%2C55.742012&z=16&rtext=~55.741830%2C37.739105&rtt=auto&oid=1124201315',
						:target => '_blank_header.haml'} проложить маршрут

			.header_contacts__phone
				.header_contacts__phone___inner
					%a.contacts_phone__call_btn{:href => "tel:+79039682125"}
						%i.icon.phone-icon
						%span.link_name Позвонить
						%span.contacts_phone__telnum{:itemprop => 'telephone'} 8 (495) 968&#x2012;21&#x2012;25
						%span.contacts_phone__work-hours{:itemprop => 'openingHours', :datetime => 'Mo-Su 24:00'} Прием авто: 24ч.


