%header
	.wrap
		.logo
			%a.home{href:'/'}
				%span.site-name
					%strong Maslov
					%span service

		.contacts
			.address
				%i.h_icon.metka-icon
				%span.city-name Москва,
				%a{:href => "#map"} 1-я Фрезерная д.2 к.1
			.phone
				%i.h_icon.phone-icon
				%span.telephone Тел. 968&#x2012;21&#x2012;25
				%a.call_btn{:href => "tel:+79039682125"} Позвонить
