<div class="price-menu">
  <ul class="price-nav">
    <li>
      <a href="#TO" class="">
        <i class="icon icon-to"></i>
        <input type="radio">

        <label>ТО</label>
      </a></li>
    <li class="">
      <a href="#remont " class="">
        <i class="icon icon-remont"></i>
        <input type="radio">
       <label>Ремонт</label>
      </a></li>
    <li>
      <a href="#custom" class="">
      <i class="icon icon-custom"></i>
        <input type="radio">
        <label>Кастом</label>
      </a></li>
    <li>
      <a href="#shinomontazh" class="">
        <i class="icon icon-mount"></i>
        <input type="radio">
        <label>Шиномонтаж</label>
      </a></li>
    <li>
      <a href="#wash" class="">
        <i class="icon icon-wash"></i>
        <input type="radio">
      <label>Мойка</label>
      </a></li>
    <li>
      <a href="#paint" class="">
      <i class="icon icon-paint"></i>
        <input type="radio">
       <label>Покраска</label>
      </a></li>
  </ul>
</div>


