<div class="price-menu">
  <ul class="price-nav">
    <li class="tab">
      <a href="#TO">
        <i class="icon icon-to"></i>
        <span class="label">Тех.Обслуживание</span>
          </a>
     </li>
    <li class="tab">
      <a href="#remont">
        <i class="icon icon-remont"></i>
       <span class="label">Ремонт</span>
      </a>
    </li>

    <li class="tab">
      <a href="#mount">
        <i class="icon icon-mount"></i>
        <span class="label">Шиномонтаж</span>
      </a>
    </li>

    <li class="tab">
      <a href="#custom">
        <i class="icon icon-custom"></i>
        <span class="label">Салон</span>
      </a>
    </li>

    <li class="tab">
      <a href="#wash">
        <i class="icon icon-wash"></i>
        <span class="label">Химчистка</span>
      </a>
     </li>
    <li class="tab">
      <a href="#paint">
        <i class="icon icon-paint"></i>
        <span class="label">Покраска</span>
       </a>
     </li>
  </ul>
</div>



