<div class="price-menu">
  <ul class="price-nav">
    <li>
      <a href="#TO" class="">
        <i class="icon icon-to"></i>
        <p>ТО</p>
      </a></li>
    <li class="">
      <a href="#remont " class="">
        <i class="icon icon-remont"></i>
       <p>Ремонт</p>
      </a></li>
    <li>
      <a href="#custom" class="">
      <i class="icon icon-custom"></i>
        <p>Кастом</p>
      </a></li>
    <li>
      <a href="#shinomontazh" class="">
        <i class="icon icon-mount"></i>
        <p>Шиномонтаж</p>
      </a></li>
    <li>
      <a href="#wash" class="">
        <i class="icon icon-wash"></i>
      <p>Мойка</p>
      </a></li>
    <li>
      <a href="#paint" class="">
      <i class="icon icon-paint"></i>
       <p>Покраска</p>
      </a></li>
  </ul>
</div>


