<div class="price-menu">
  <ul class="price-nav">
    <li class="tab">
        <i class="icon icon-to"></i>
        <span class="label">ТО</span>
     </li>
    <li clas class="tab"s="">
        <i class="icon icon-remont"></i>
       <span class="label">Ремонт</span>
    </li>
    <li class="tab">
      <i class="icon icon-custom"></i>
        <span class="label">Кастом</span>
    </li>
    <li class="tab">
        <i class="icon icon-mount"></i>
        <span class="label">Шиномонтаж</span>
     </li>
    <li class="tab">
        <i class="icon icon-wash"></i>
      <span class="label">Мойка</span>
     </li>
    <li class="tab">
      <i class="icon icon-paint"></i>
       <span class="label">Покраска</span>
     </li>
  </ul>
</div>


