/*
Error: Undefined mixin 'container'.
        on line 18 of /home/frolin/RubymineProjects/compass/app/assets/layouts/pages/price.scss, in `container'
        from line 18 of /home/frolin/RubymineProjects/compass/app/assets/layouts/pages/price.scss

13: //  display: block;
14: //}
15: 
16: 
17:   .price-page {
18:     @include container;
19:     position: relative;
20:     overflow: hidden;
21:     overflow-y: auto;
22:     //-webkit-overflow-scrolling: touch;
23:   }

Backtrace:
/home/frolin/RubymineProjects/compass/app/assets/layouts/pages/price.scss:18:in `container'
/home/frolin/RubymineProjects/compass/app/assets/layouts/pages/price.scss:18
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `block in with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:98:in `with_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/tree/root_node.rb:20:in `render'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin.rb:54:in `check_for_updates'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sass-3.4.16/lib/sass/plugin/rack.rb:51:in `call'
/home/frolin/RubymineProjects/compass/lib/connection_pool_management_middleware.rb:7:in `block in call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/activerecord-4.2.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:292:in `with_connection'
/home/frolin/RubymineProjects/compass/lib/connection_pool_management_middleware.rb:7:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/head.rb:11:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/methodoverride.rb:21:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/reloader/rack.rb:22:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/logger.rb:420:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/show_exceptions.rb:21:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/session/abstract/id.rb:225:in `context'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/session/abstract/id.rb:220:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:2021:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:1486:in `block in call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:1795:in `synchronize'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:1486:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:84:in `block in call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:75:in `each'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:75:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/lint.rb:49:in `_call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/lint.rb:37:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/showexceptions.rb:24:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/commonlogger.rb:33:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/sinatra-1.4.6/lib/sinatra/base.rb:218:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/chunked.rb:43:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/content_length.rb:14:in `call'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/thin-1.6.2/lib/thin/connection.rb:86:in `block in pre_process'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/thin-1.6.2/lib/thin/connection.rb:84:in `catch'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/thin-1.6.2/lib/thin/connection.rb:84:in `pre_process'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/thin-1.6.2/lib/thin/connection.rb:53:in `process'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/thin-1.6.2/lib/thin/connection.rb:39:in `receive_data'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/eventmachine-1.0.3/lib/eventmachine.rb:187:in `run_machine'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/eventmachine-1.0.3/lib/eventmachine.rb:187:in `run'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/thin-1.6.2/lib/thin/backends/base.rb:73:in `start'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/thin-1.6.2/lib/thin/server.rb:162:in `start'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/handler/thin.rb:16:in `run'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/server.rb:264:in `start'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/lib/rack/server.rb:141:in `start'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/gems/rack-1.5.5/bin/rackup:4:in `<top (required)>'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/bin/rackup:23:in `load'
/home/frolin/.rvm/gems/ruby-1.9.3-p551-dev/bin/rackup:23:in `<top (required)>'
-e:1:in `load'
-e:1:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'container'.\A         on line 18 of /home/frolin/RubymineProjects/compass/app/assets/layouts/pages/price.scss, in `container'\A         from line 18 of /home/frolin/RubymineProjects/compass/app/assets/layouts/pages/price.scss\A \A 13: //  display: block;\A 14: //}\A 15: \A 16: \A 17:   .price-page {\A 18:     @include container;\A 19:     position: relative;\A 20:     overflow: hidden;\A 21:     overflow-y: auto;\A 22:     //-webkit-overflow-scrolling: touch;\A 23:   }"; }
