//article.tab {
//  display: none;
//}
//
//.to:checked ~ [tabcontent="TO"],
//.wash:checked ~ [tabcontent="wash"],
//#tab3:checked ~ [tabcontent="tab3"],
//#tab4:checked ~ [tabcontent="tab4"],
//#tab4:checked ~ [tabcontent="tab4"],
//#tab4:checked ~ [tabcontent="tab4"]
//
//{
//  display: block;
//}


.page_price {
  background: inline-image("bg/bg.jpg");
  background-position: 0px 160px;
  background-repeat: repeat-x;

}

.price-page {
  @include container;
  position: relative;
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
  //box-shadow: 0 0px 5px rgba(0,0,0,0.5);
  height: calc(100% - 130px);
  //-webkit-overflow-scrolling: touch;
}



//
//@include susy-breakpoint($mobile-size, $mobile) {
//
//  .price-page article table {
//    width: 100%;
//
//    th:last-child, tbody tr td:last-child {
//      text-align: right;
//    }
//
//    thead {
//      display: block;
//      width: 100%;
//      color: darkgrey;
//      border-bottom: 2px solid #c0392b;
//    }
//
//    thead tr {
//      display: table;
//      width: 98%;
//      margin: 0 auto;
//    }
//    thead tr th:first-child {
//      font-size: 1.4rem;
//      color: #293`a4b;
//      padding-top: 15px;
//      padding-bottom: 15px;
//    }
//
//    thead tr th:last-child {
//      font-size: .8rem;
//      text-align: right;
//      padding-top: 15px;
//      padding-bottom: 15px;
//    }
//
//    tbody {
//      display: table;
//      width: 98%;
//      margin: 0 auto;
//    }
//
//    tbody tr {
//      border-bottom: 1px solid #C7C7C7;
//    }
//    tbody tr:last-child {
//      border-bottom: none;
//    }
//
//    tbody tr td {
//      padding: 3px;
//    }
//
//    tbody tr td:last-child {
//      padding-right: 1%;
//      text-align: right;
//    }
//
//  }
//
//}
//
//
//@include susy-breakpoint($tablet-size, $tablet) {
//
//  .price-page article table {
//    width: 100%;
//
//    th:last-child, tbody tr td:last-child {
//      text-align: right;
//    }
//
//    thead {
//      display: block;
//      width: 100%;
//      color: darkgrey;
//      border-bottom: 2px solid #c0392b;
//    }
//
//    thead tr {
//      display: table;
//      width: 67%;
//      margin: 0 auto;
//    }
//    thead tr th:first-child {
//      font-size: 1.4rem;
//      color: #293a4b;
//      padding-top: 15px;
//      padding-bottom: 15px;
//    }
//
//    thead tr th:last-child {
//      font-size: .8rem;
//      text-align: right;
//      padding-top: 15px;
//      padding-bottom: 15px;
//    }
//
//    tbody {
//      display: table;
//      width: 67%;
//      margin: 0 auto;
//    }
//
//    tbody tr {
//      border-bottom: 1px solid #C7C7C7;
//    }
//    tbody tr:last-child {
//      border-bottom: none;
//    }
//
//    tbody tr td {
//      padding: 7px;
//    }
//
//    tbody tr td:last-child {
//      padding-right: 1%;
//      text-align: right;
//    }
//
//  }
//
//}



@include susy-breakpoint($desktop-size, $large) {








  .price-page article {
    display: none;
    font-family: 'PTSansRegular', sans-serif;
    //border-bottom: 1px solid #BEBBBB;
    position: relative;
    height: calc(100% - 0px);
    @include scrollbars(.5em, slategray);

  }


  article td:first-child h5 {
    font-family: "PTSansRegular";
    padding-left: 15px;
    padding-top: .5rem;
    padding-bottom: .5rem;

  }

  article td h5 {
    font-family: "PTSansRegular";
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  article .title {
    font-size: 1.4rem;
    color: #293a4b;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-transform: uppercase;
  }

  .price-page article .body {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: calc(100% - 90px);
    display: block;
    top: 95px;

    //-webkit-overflow-scrolling: touch;
  }

  article tr.main {
    @include container(960px);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: table;
    height: 55px;
    position: fixed;
    background: #fff;
    border-bottom: 2px solid rgba(192, 57, 43, 0.6);

  }

  .price-page article table thead {
    font-family: PTSansNarrow, sans-serif;
  }

  .price-page article:nth-of-type(1) {
    display: block;
  }


  .price-page article table {
    width: 100%;
  }

  .price-page table.header {
      width: 100%;
      color: darkgrey;
    }


  article.TO table.header,
  article.remont table.header {

    thead tr.main {
      @include container(960px);
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: table;
      height: 55px;
      position: fixed;
      background: #fff;
      border-bottom: 2px solid rgba(192, 57, 43, 0.6);

    }
    thead tr.sub {
      @include container(960px);
      width: 100%;
      margin-top: 55px;
      //box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
      display: table;
      position: fixed;
      color: #5D5D5D;
      background: #DADADA;
      height: 40px;
      font-size: .9rem;
      text-transform: uppercase;
    }

    tr.sub th {
      text-align: center;
    }

    th:first-child {
      width: 73%;
    }

    tr.sub th:nth-child(1) {
      width: 72%;
    }
    tr.sub th:nth-child(2) {
      width: 13%;
    }
    tr.sub th:nth-child(3) {
      width: 13%;
    }



  article table.body {
    position: relative;
    top: 90px;
    height: 100%;

  }
  }

  table.header tr.main th:last-child {
    font-size: .8rem;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #8C8C8C;
  }



  table.body tbody{

     tr {
       border-bottom: 1px solid lightgrey;
     }
     tr:last-child {
      border-bottom: none;
    }

     tr td:first-child {
      width: 73%;
    } tr td {
      //padding: 10px 0 10px 15px;
    }

    tr td:nth-child(3) {
      padding-right: 1%;
      text-align: center;
    }
    tr td:nth-child(2) {
      text-align: center;
    }

  }


  article.shinomontazh {


    table.body {
      top: 55px;
    }

    .body table th:first-child {
      padding: 10px 0;
      width: 10%;
      text-align: center;
      width: 27%;
    }
    .body table th{
      padding: 10px 0;
      width: 6%;
      text-align: center;
    }

    table td:first-child {
      text-align: left;
    }
    table td {
      text-align: center;
      padding: 15px 0;
      width: 5%;
    }

    tr.main {
      box-shadow: 0px 2px 0px rgba(192, 57, 43, 0.6);
    }

    table.light tr:first-child,
    table.heavy tr:first-child  {
      color: #5D5D5D;
      background: #DADADA;
    }

    table.light th:nth-child(even),
    table.heavy th:nth-child(even)  {

      //background-color: #c4c4c4;
    }
    //
    table.light th:nth-child(odd),
    table.heavy th:nth-child(odd)  {

      //background-color: #e0e0e0;

    }

    table.light td:nth-child(odd),
    table.heavy td:nth-child(odd)  {

      //background-color: #e0e0e0;
    }
    table.light td:nth-child(even),
    table.heavy td:nth-child(even)  {

      //background-color: #c4c4c4;
    }


    table.light td:first-child,
    table.heavy td:first-child  {
      //background-color: #fff;
    }

    table.dop_uslugi tbody tr td {
      text-align: left;
    }

    .body {

      top: 55px ;

      tbody tr {
        border-bottom: 1px solid #C7C7C7;
      }
      tbody tr:last-child {
        border-bottom: none;
      }

      tbody tr td {
        padding: .5rem;
      }
      tbody tr td:last-child {
      }

    }




  }

}



















