<!doctype html>
%html.no-js{:lang => "ru"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
		%title Maslov Service
		%meta{:content => "", :name => "description"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
		-#%link{:href => 'http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic', :rel => 'stylesheet', :type => 'text/css'}

		// Place favicon.ico in the root directory
		-#%link{:href => "stylesheets/normalize.css", :rel => "stylesheet"}
		=stylesheet_link_tag 'application'
	%body{class: "#{@route.name}" }

		=partial 'layouts/partials/header'

		=partial 'layouts/partials/footer'
		%main
			= yield

	%script{:src => "https://api-maps.yandex.ru/2.1/?lang=ru_RU", :type => "text/javascript"}

	=javascript_include_tag  'jquery.js', 'jquery-ujs.js', 'ya_map.js', 'application.js'
